flowsAPN.json
[{"id":"dcaf90d1.89abe","type":"tab","label":"Flow Control","disabled":false,"info":""},{"id":"1afe386a.44f7a8","type":"link out","z":"dcaf90d1.89abe","name":"GPS","links":["e7906df4.c7eed"],"x":663.0000343322754,"y":234.00005626678467,"wires":[],"inputLabels":["GPS"]},{"id":"3ce15fb5.d95ea","type":"link out","z":"dcaf90d1.89abe","name":"CTD","links":["6e6118d6.0922a8"],"x":545.1404857635498,"y":339.3836269378662,"wires":[]},{"id":"520e32e8.d07e2c","type":"tcp in","z":"dcaf90d1.89abe","name":"GPS, port 4001","server":"server","host":"10.0.0.21","port":"4001","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":492.8368225097656,"y":183.4167022705078,"wires":[[]]},{"id":"86b5f5d1.2ea9d8","type":"tcp in","z":"dcaf90d1.89abe","name":"C3 4001","server":"client","host":"192.168.0.2","port":"4001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":292.8402862548828,"y":296.41670393943787,"wires":[["3ce15fb5.d95ea"]]},{"id":"5b646b20.642844","type":"link out","z":"dcaf90d1.89abe","name":"Otode","links":["841893e3.a0561"],"x":455,"y":400,"wires":[]},{"id":"8b3b98ae.499598","type":"udp in","z":"dcaf90d1.89abe","name":"Otode 4003","iface":"","port":"4003","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":92.00000381469727,"y":602.0000057220459,"wires":[[]]},{"id":"bec29b8.5b77e68","type":"udp in","z":"dcaf90d1.89abe","name":"Conductivity 4004","iface":"","port":"4004","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":122,"y":669.0000076293945,"wires":[[]]},{"id":"ec97f21e.c093f","type":"link out","z":"dcaf90d1.89abe","name":"Cond","links":["b7389e0d.21056"],"x":485,"y":500,"wires":[]},{"id":"78b71288.6cb50c","type":"tcp in","z":"dcaf90d1.89abe","name":"Optode 4003","server":"client","host":"192.168.0.2","port":"4003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":248.10000610351562,"y":379.2000045776367,"wires":[["5b646b20.642844"]]},{"id":"577d192d.03ef28","type":"tcp in","z":"dcaf90d1.89abe","name":"Conductivity 4002","server":"client","host":"192.168.0.2","port":"4002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":272,"y":501.0000066757202,"wires":[["ec97f21e.c093f","6f1fb1e5.0402e"]]},{"id":"6f1fb1e5.0402e","type":"get-ai-value","z":"dcaf90d1.89abe","name":"","x":446.10003662109375,"y":732.6000366210938,"wires":[[],["56647d9f.e43b24"],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"80caa056.d14fd","type":"debug","z":"dcaf90d1.89abe","name":"","active":false,"console":"false","complete":"payload","x":755.1000595092773,"y":659.2000102996826,"wires":[]},{"id":"56647d9f.e43b24","type":"range","z":"dcaf90d1.89abe","minin":"0","maxin":"10","minout":"-2","maxout":"40","action":"scale","round":false,"name":"","x":605.1000595092773,"y":659.4000110626221,"wires":[["80caa056.d14fd"]]},{"id":"8eec1152.aa96c","type":"tab","label":"GPS","disabled":false,"info":""},{"id":"e7906df4.c7eed","type":"link in","z":"8eec1152.aa96c","name":"","links":["1afe386a.44f7a8"],"x":162.02933417426215,"y":162.87809583875867,"wires":[["d05da9b6.e40a18"]]},{"id":"d05da9b6.e40a18","type":"split","z":"8eec1152.aa96c","name":"","splt":"$","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":315.84033203125,"y":183.6041612625122,"wires":[["5a3342dc.a3074c"]]},{"id":"5a3342dc.a3074c","type":"switch","z":"8eec1152.aa96c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"GPGGA,","vt":"str"}],"checkall":"true","outputs":1,"x":450.8403205871582,"y":182.75003147125244,"wires":[["eb4fa083.c31b7"]]},{"id":"450dbb9f.811de4","type":"function","z":"8eec1152.aa96c","name":"Get lat lon","func":"var lat=msg.payload.slice(13,22);\nvar lon=msg.payload.slice(25,35);\n\nlat=lat.slice(0,2) + '\\xa0' + lat.slice(2);\nlon=lon.slice(0,3) + '\\xa0' + lon.slice(3);\n\nwhile(lat.charAt(0) === '0')\n{\n lat = lat.substring(1);\n}\n\nwhile(lon.charAt(0) === '0')\n{\n lon = lon.substring(1);\n} \n\nlat84=lat;\nlon84=lon;\n\nlat=parseFloat(lat.slice(0,2)) + Math.round((parseFloat(lat.slice(2))/60)*100000)/100000;\nlon=parseFloat(lon.slice(0,2)) + Math.round((parseFloat(lon.slice(2))/60)*100000)/100000;\nmsg.topic=\"GPS\";\n\n\nmsg.payload=({\n    \"date\" : new Date().toISOString(),\n    \"lat\" : lat,\n    \"lon\" : lon,\n});\n\nreturn msg;\n\n","outputs":"1","noerr":0,"x":800.8264198303223,"y":199.84725761413574,"wires":[["ef957be1.6784d8"]]},{"id":"ef957be1.6784d8","type":"link out","z":"8eec1152.aa96c","name":"GPS processed","links":["3accc16b.d1c69e"],"x":953.8264408111572,"y":231.9861125946045,"wires":[]},{"id":"eb4fa083.c31b7","type":"delay","z":"8eec1152.aa96c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":624.8367767333984,"y":196.2708683013916,"wires":[["450dbb9f.811de4"]]},{"id":"c00012ff.629db","type":"tab","label":"C3","disabled":false,"info":""},{"id":"6e6118d6.0922a8","type":"link in","z":"c00012ff.629db","name":"","links":["3ce15fb5.d95ea"],"x":135,"y":80,"wires":[["172f1b24.ec94d5"]]},{"id":"172f1b24.ec94d5","type":"delay","z":"c00012ff.629db","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":334.8299255371094,"y":99.70834732055664,"wires":[["19dca8c2.0b5277"]]},{"id":"19dca8c2.0b5277","type":"function","z":"c00012ff.629db","name":"C3 divide to vars","func":"  var str=msg.payload\n  var res = str.split(/\\s+/);\n  msg.payload=res.slice(1,8);\n  C3Chl_a=parseFloat(res[3]);\n  C3turb=parseFloat(res[4]);\n  C3CDOM=parseFloat(res[5]);\n  C3temp=parseFloat(res[7]);\n  msg.topic=\"C3\";\n\nmsg.payload=({\n    \"temp\" : C3temp,\n    \"CDOM\": C3CDOM,\n    \"turb\" : C3turb,\n    \"chl_a\" : C3Chl_a\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":546.8263778686523,"y":100.41670608520508,"wires":[["a888714d.4f033"]]},{"id":"a888714d.4f033","type":"link out","z":"c00012ff.629db","name":"C3Processed","links":["720ed274.a7514c"],"x":718.8299102783203,"y":106.32986450195312,"wires":[]},{"id":"ddee8591.ce0c88","type":"tab","label":"Conductivity","disabled":false,"info":""},{"id":"b7389e0d.21056","type":"link in","z":"ddee8591.ce0c88","name":"Cond","links":["ec97f21e.c093f"],"x":155,"y":120,"wires":[["ea190642.64d908"]]},{"id":"7c0684c7.f0c25c","type":"join","z":"ddee8591.ce0c88","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","x":236.9965591430664,"y":276.770827293396,"wires":[[]]},{"id":"ea190642.64d908","type":"function","z":"ddee8591.ce0c88","name":"Cond_split","func":"var cond=[];\ncond_split=msg.payload.split('\\t');\ncond_raw=cond_split;\ncond_cond=parseFloat(cond_split[4]);\ncond_temp=parseFloat(cond_split[6]);\ncond_sal=parseFloat(cond_split[8]);\ncond_dens=parseFloat(cond_split[10]);\ncond_soundsp=parseFloat(cond_split[12]);\ncond_conductance=parseFloat(cond_split[14]);\nmsg.topic=\"cond\";\n\nmsg.payload=({\n    \"cond\" : cond_cond,\n    \"sal\" : cond_sal,\n    \"temp\" : cond_temp,\n    \"dens\" : cond_dens,\n    \"soundsp\" : cond_soundsp,\n    \"conductance\" : cond_conductance,\n    \n});\n\nreturn msg;","outputs":1,"noerr":0,"x":462.9931640625,"y":132.81943321228027,"wires":[["9f939813.790fa8"]]},{"id":"9f939813.790fa8","type":"link out","z":"ddee8591.ce0c88","name":"CondProcessed","links":["4f3e1c6.8c591e4"],"x":661.9931106567383,"y":131.7430534362793,"wires":[]},{"id":"9f3a5bb8.28d838","type":"tab","label":"Otode","disabled":false,"info":""},{"id":"841893e3.a0561","type":"link in","z":"9f3a5bb8.28d838","name":"Otode ","links":["5b646b20.642844"],"x":158.83333206176758,"y":98.59029388427734,"wires":[["d614e91.cf2f918"]]},{"id":"c117b7b5.784b88","type":"join","z":"9f3a5bb8.28d838","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","x":272.8298873901367,"y":222.36111640930176,"wires":[[]]},{"id":"d614e91.cf2f918","type":"function","z":"9f3a5bb8.28d838","name":"Otode_split","func":"var o2_temp=[];\no2_split=msg.payload.split('\\t');\no2_raw=o2_split;\no2_conc=parseFloat(o2_split[4]);\no2_sat=parseFloat(o2_split[6]);\no2_temp=parseFloat(o2_split[8]);\nmsg.topic=\"O2\";\n\nmsg.payload=({\n    \"conc\" : o2_conc,\n    \"sat\" : o2_sat,\n    \"temp\" : o2_temp\n});\n\nreturn msg;","outputs":1,"noerr":0,"x":466.8264961242676,"y":111.40972709655762,"wires":[["fd844863.e82aa8"]]},{"id":"fd844863.e82aa8","type":"link out","z":"9f3a5bb8.28d838","name":"OtodeProcessed","links":["72ce8704.e524e8"],"x":665.8264427185059,"y":110.33334732055664,"wires":[]},{"id":"79833b0.fe0a6c4","type":"tab","label":"Write2File","disabled":false,"info":""},{"id":"72ce8704.e524e8","type":"link in","z":"79833b0.fe0a6c4","name":"OtodeProcessed","links":["fd844863.e82aa8"],"x":197.82640838623047,"y":401.916711807251,"wires":[["5fbf0c2f.9ab784"]]},{"id":"3accc16b.d1c69e","type":"link in","z":"79833b0.fe0a6c4","name":"GPS processed","links":["ef957be1.6784d8"],"x":208.8298807144165,"y":494.9201889038086,"wires":[["5fbf0c2f.9ab784"]]},{"id":"720ed274.a7514c","type":"link in","z":"79833b0.fe0a6c4","name":"C3 processed","links":["a888714d.4f033"],"x":198.8333740234375,"y":580.920166015625,"wires":[["5fbf0c2f.9ab784"]]},{"id":"5fbf0c2f.9ab784","type":"join","z":"79833b0.fe0a6c4","name":"Join sensor payloads","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","x":448.8334426879883,"y":505.5903263092041,"wires":[["5942ad64.e66544","493e7149.f41d4"]]},{"id":"b4e20732.f2bd38","type":"file","z":"79833b0.fe0a6c4","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1150,"y":460,"wires":[[]]},{"id":"5942ad64.e66544","type":"csv","z":"79833b0.fe0a6c4","name":"Output CSV","sep":",","hdrin":false,"hdrout":true,"multi":"one","ret":"\\r\\n","temp":"C3.temp, C3.CDOM, C3.turb, C3.chl_a, cond.cond, cond.sal, cond.temp, cond.dens, cond.soundsp, cond.conductance","x":713,"y":506,"wires":[["31afa444.7530dc"]]},{"id":"493e7149.f41d4","type":"change","z":"79833b0.fe0a6c4","name":"Store raw data","rules":[{"t":"set","p":"GPS","pt":"msg","to":"payload.GPS","tot":"msg"},{"t":"set","p":"o2","pt":"msg","to":"payload.O2","tot":"msg"},{"t":"set","p":"c3","pt":"msg","to":"payload.C3","tot":"msg"},{"t":"set","p":"cond","pt":"msg","to":"payload.cond","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":706,"y":453,"wires":[["96ba53dc.c0bad"]]},{"id":"31afa444.7530dc","type":"change","z":"79833b0.fe0a6c4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"CSV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":946,"y":468,"wires":[[]]},{"id":"96ba53dc.c0bad","type":"link out","z":"79833b0.fe0a6c4","name":"Dashboard","links":["ebbc81e4.64a39"],"x":875,"y":316,"wires":[]},{"id":"fb5c68b8.983ca8","type":"comment","z":"79833b0.fe0a6c4","name":"Send to Dashbord for plotting","info":"","x":1019,"y":314,"wires":[]},{"id":"1d675ce1.e53b33","type":"inject","z":"79833b0.fe0a6c4","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":169,"y":259,"wires":[[]]},{"id":"4f3e1c6.8c591e4","type":"link in","z":"79833b0.fe0a6c4","name":"CondProcessed","links":["9f939813.790fa8"],"x":195,"y":700,"wires":[["5fbf0c2f.9ab784"]]},{"id":"5a6326c7.ec8d78","type":"csv","z":"79833b0.fe0a6c4","name":"Output CSV","sep":",","hdrin":false,"hdrout":true,"multi":"one","ret":"\\r\\n","temp":"GPS.date, GPS.lat, GPS.lon, O2.conc, O2.sat, O2.temp, C3.temp, C3.CDOM, C3.turb, C3.chl_a, cond.cond, cond.sal, cond.temp, cond.dens, cond.soundsp, cond.conductance","x":694,"y":605,"wires":[[]]},{"id":"ed2559d4.e63138","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"ebbc81e4.64a39","type":"link in","z":"ed2559d4.e63138","name":"Dashboard","links":["96ba53dc.c0bad"],"x":195,"y":220,"wires":[["9170c30f.6efe5","b6a223b0.879bd","a16515d0.745298","f7b5fc4c.f92d5","e560acec.a0beb","fa109c72.a3f77"]]},{"id":"fd4c7e24.0986b","type":"ui_chart","z":"ed2559d4.e63138","name":"","group":"38138d9d.a7ada2","order":0,"width":0,"height":0,"label":"Oxygen saturation [%]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Updating","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":754,"y":175,"wires":[[]]},{"id":"9170c30f.6efe5","type":"change","z":"ed2559d4.e63138","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"o2.sat","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"O2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":182,"wires":[["fd4c7e24.0986b"]]},{"id":"ffcdc927.e2b698","type":"ui_button","z":"ed2559d4.e63138","name":"","group":"3fabd63a.825fea","order":0,"width":0,"height":0,"passthru":false,"label":"Reset plots","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":425,"y":102,"wires":[["fd4c7e24.0986b","70a8f0cf.6ef1d","9121802c.e87cb","9a3b210a.fc01"]]},{"id":"b6a223b0.879bd","type":"change","z":"ed2559d4.e63138","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"o2.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"O2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":404,"y":228,"wires":[["70a8f0cf.6ef1d"]]},{"id":"a16515d0.745298","type":"change","z":"ed2559d4.e63138","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"c3.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"C3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":426,"y":269,"wires":[["70a8f0cf.6ef1d"]]},{"id":"70a8f0cf.6ef1d","type":"ui_chart","z":"ed2559d4.e63138","name":"","group":"3b671a7a.831cf6","order":0,"width":0,"height":0,"label":"Temperature [℃]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Updating","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffd300","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":725,"y":245,"wires":[[]]},{"id":"f7b5fc4c.f92d5","type":"change","z":"ed2559d4.e63138","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"c3.CDOM","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"CDOM","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":360,"wires":[["9121802c.e87cb"]]},{"id":"9121802c.e87cb","type":"ui_chart","z":"ed2559d4.e63138","name":"","group":"3b671a7a.831cf6","order":0,"width":0,"height":0,"label":"CDOM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Updating","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#00fa1d","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":692,"y":331,"wires":[[]]},{"id":"6516c207.a0034c","type":"udp out","z":"ed2559d4.e63138","name":"Send to MOXA","addr":"10.0.0.11","iface":"","port":"4003","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":420,"y":660,"wires":[]},{"id":"fe4e2814.f3d248","type":"ui_button","z":"ed2559d4.e63138","name":"","group":"595fa0bb.cd7d8","order":0,"width":0,"height":0,"passthru":false,"label":"Start O2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"start\\n\"","payloadType":"json","topic":"","x":210,"y":620,"wires":[["6516c207.a0034c"]]},{"id":"46b85fbc.7b381","type":"ui_button","z":"ed2559d4.e63138","name":"","group":"595fa0bb.cd7d8","order":0,"width":0,"height":0,"passthru":false,"label":"Stop O2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"stop\\n\"","payloadType":"json","topic":"","x":200,"y":680,"wires":[["6516c207.a0034c"]]},{"id":"13da7957.44caa7","type":"udp out","z":"ed2559d4.e63138","name":"Send to MOXA","addr":"10.0.0.11","iface":"","port":"4004","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":480,"y":840,"wires":[]},{"id":"b51cbfc1.484a7","type":"ui_button","z":"ed2559d4.e63138","name":"","group":"595fa0bb.cd7d8","order":0,"width":0,"height":0,"passthru":false,"label":"Start Conductivity","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"start\\n\"","payloadType":"json","topic":"","x":240,"y":800,"wires":[["13da7957.44caa7"]]},{"id":"263f5502.cd425a","type":"ui_button","z":"ed2559d4.e63138","name":"","group":"595fa0bb.cd7d8","order":0,"width":0,"height":0,"passthru":false,"label":"Stop Conductivity","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"stop\\n\"","payloadType":"json","topic":"","x":230,"y":860,"wires":[["13da7957.44caa7"]]},{"id":"e560acec.a0beb","type":"change","z":"ed2559d4.e63138","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"cond.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Conductivity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[["70a8f0cf.6ef1d"]]},{"id":"fa109c72.a3f77","type":"change","z":"ed2559d4.e63138","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"cond.sal","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Conductivity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":420,"wires":[["9a3b210a.fc01"]]},{"id":"9a3b210a.fc01","type":"ui_chart","z":"ed2559d4.e63138","name":"","group":"38138d9d.a7ada2","order":0,"width":0,"height":0,"label":"Salinity [PSU]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Updating","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":420,"wires":[[]]},{"id":"38138d9d.a7ada2","type":"ui_group","name":"LinePlots","tab":"d2c5e162.280f7","order":3,"disp":false,"width":"6","collapse":false},{"id":"3fabd63a.825fea","type":"ui_group","name":"Reset","tab":"d2c5e162.280f7","order":2,"disp":false,"width":"6","collapse":false},{"id":"3b671a7a.831cf6","type":"ui_group","name":"LinePlots2","tab":"d2c5e162.280f7","disp":false,"width":"6","collapse":false},{"id":"595fa0bb.cd7d8","type":"ui_group","name":"Sampler","tab":"fc9434ee.1fcd58","order":1,"disp":false,"width":"6","collapse":false},{"id":"d2c5e162.280f7","type":"ui_tab","name":"Plots","icon":"dashboard","disabled":false,"hidden":false},{"id":"fc9434ee.1fcd58","type":"ui_tab","name":"Operation","icon":"dashboard","disabled":false,"hidden":false}]