flows_microFB 2022.json
[{"id":"7e064ca5.9821e4","type":"tab","label":"Sensor output","disabled":false,"info":""},{"id":"9e1ed9f.0562728","type":"tab","label":"GPS","disabled":false,"info":""},{"id":"2b03b22f.4f348e","type":"tab","label":"C3","disabled":false,"info":""},{"id":"84956c08.c7087","type":"tab","label":"Inlet temperature","disabled":false,"info":""},{"id":"4d1a4003.dfefd","type":"tab","label":"Conductivity","disabled":false,"info":""},{"id":"7277229c.a298ec","type":"tab","label":"Otode","disabled":false,"info":""},{"id":"f2a1545.96bd1a8","type":"tab","label":"Write2File","disabled":false,"info":""},{"id":"9169162a.3666c8","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"c8a79714.25d648","type":"tab","label":"Analogue input","disabled":false,"info":""},{"id":"438a7d9b.5368c4","type":"tab","label":"Terminal","disabled":false,"info":""},{"id":"ecc3a395.51588","type":"tab","label":"DIO","disabled":false,"info":""},{"id":"4aee6267.e5bb9c","type":"tab","label":"Ports","disabled":false,"info":""},{"id":"3f9f3370.4a839c","type":"tab","label":"Sampler","disabled":false,"info":""},{"id":"7b3c5208.216cec","type":"tab","label":"UDPsend","disabled":false,"info":""},{"id":"7577d9ac.f07098","type":"tab","label":"Rinse","disabled":false,"info":""},{"id":"6093ed53.dcb644","type":"tab","label":"Pump","disabled":false,"info":""},{"id":"2924702c.b33a7","type":"subflow","name":"ui-table handler","info":"# ui-table handler\nUniversal handler for ui-table.\n## features\n- buffer table data\n- add or update individual rows or cells of the table\n- delete rows\n- clear tableData\n- handle column width\n- handle column order\n- hide und unhide columns\n- hide and unhide rows\n- records row order\n- support for nested columns [(column groups)](http://tabulator.info/examples/4.7#column-groups)\n- support for child rows (_children) [(nested data trees)](http://tabulator.info/examples/4.7#tree)\n\nFor real life example see:\n\n**syslog server** for logfile like table with filters\n\n**remote device table** for dynamically updated table with context menues\n\n**irrigation system** for sortable rows\n\n## sending data to ui-tabel\n\n- sending an `array` as discribed in ui-table will replace the complete table and delete all table edits\n  \n  if `msg.keepEdits=true` is added the existing edits will be kept.\n- send an `object` containing the updated properties of a table row by sending msg.<tableDataProp>.\n\n  The table is updated using the `updateOrAddData` command. You can alter the command used by adding the `msg.tabulatorCommand` and `msg.tabulatorParameter`\n\n```\nmsg.tabulatorCommand=\"addData\";\nmsg.tabulatorParameter=[true];\n```\n## configuration\n- `tabulator` json formatted object containing configuration of the table. See ui-table for more details.\n- `property` property of the msg object that contains the data to be passed to ui-table. I.e. *state* `msg.state`\n- `index` index column to identify individual rows. Each message containing data must have a unique `msg.topic` to identify the row. Messages without this `msg.topic` will be droped. It is not nessesary but possible to display the index column in the table. Do not enable editing on this column otherwise you will loose the connection and another row will be added to the table as soon as a new message arrives!\n\n   Defaults to *$topic* `msg.state.$topic`\n- `maxRows`maximum number of rows held by table widget. If grater than **0** the amount of rows in ui-table is limited. For this to work the index row must be a Number. ´rows < currentID-maxRows´ will be deleted.\n- `maxStore`maximum number of rows stored by this node for replay if a client connects. If grater than **0** the amount of rows in flow context is limited. for this to work the index row must be a Number. ´rows < currentID-maxStore´ will be deleted.\n- `dashboard` name of the dashboard tab to only update the table if the dashboard is visible. If empty the table will be updated on every tab change and connect.\n- `context` configuration of context data. The subflow will save or cache data in the flows context using `$parent.`. \n   **tableData** caches the incoming data to restore it on `ui-control´ *change* messages.\n   **tableConfig** saves column width and order to save the interactive table layot\n   **tableEdit** saves edits on the table data otherwise it would be overwritten when new data arrives\n```json\n{\n    \"tableData\": {\n        \"name\": \"tableData\"\n    },\n    \"tableConfig\": {\n        \"name\": \"tableConfig\",\n        \"storage\": \"file\"\n    },\n    \"tableEdit\": {\n        \"name\": \"tableEdit\",\n        \"storage\": \"file\"\n    }\n}\n```\n\n## commands\ncommands can be passed by sending a object as `msg.payload`\n\n```json\n{\n    \"command\": \"delete\",\n    \"object\": \"columnOrder\"\n}\n```\n\n- `deleteTable` tableCache\n- `deleteRow` delete single row. `object` matching index property\n- `ignoreRow` delete single row and put it on an ignore list. `object` matching index property\n- `unIgnoreRow`remove row from the ignore list.  `object` matching index property\n- `unIgnoreRows`delte the ignore list. \n- `deleteRowOrder` delete custom row order\n- `deleteColumnOrder` delete custom column order\n  This is important if you add or delete columns in the tabulator config otherwise the columns most likely don`t show up\n- `deleteColumnWidth` delete custom column width\n- `columnHide` hide a column. `object` matching column field\n- `columnUnHide` unhide a column. `object` matching column field\n- `columnsUnHide` unhide all hidden columns.\n- `setMaxStore` set maximum amount of rows in cache\n- `setMaxDisplay` set maximum amout of rows in ui-table\n- `getTable` get table data (as displayed) as an array (on 2nd output)\n \n## background\nui-table warps the powerfull tabluator library.  This subflow makes it easier to unleash the powerfull features of ui-table","category":"dashboard","in":[{"x":54,"y":85,"wires":[{"id":"5eb0bd6b.74b794"}]}],"out":[{"x":360,"y":85,"wires":[{"id":"5eb0bd6b.74b794","port":1}]},{"x":360,"y":136,"wires":[{"id":"5eb0bd6b.74b794","port":2}]}],"env":[{"name":"tabulator","type":"json","value":"{\"tabulator\":{\"responsiveLayout\":\"collapse\",\"responsiveLayoutCollapseStartOpen\":false,\"index\":\"$name\",\"layout\":\"fitColumns\",\"movableColumns\":true,\"groupBy\":\"\",\"columnResized\":\"function(column){     var newColumn = {         field: column._column.field,         visible: column._column.visible,         width: column._column.width,         widthFixed: column._column.widthFixed,         widthStyled: column._column.widthStyled     }; this.send({topic:this.config.topic,ui_control:{callback:'columnResized',columnWidths:newColumn}}); }\",\"columnMoved\":\"function(column, columns){     var newColumns=[];     columns.forEach(function (column) {         newColumns.push({'field': column._column.definition.field, 'title': column._column.definition.title});     });     this.send({topic:this.config.topic,ui_control:{callback:'columnMoved',columns:newColumns}}); }\",\"rowFormatter\":\"function(row){     var data = row.getData();     switch (data.$state) {         case \\\"lost\\\":             row.getElement().style.backgroundColor = \\\"#9e2e66\\\";             row.getElement().style.color = \\\"#a6a6a6\\\";             break;         case \\\"sleeping\\\":             row.getElement().style.backgroundColor = \\\"#336699\\\";             break;         case \\\"disconnected\\\":             row.getElement().style.backgroundColor = \\\"#cc3300\\\";             row.getElement().style.color = \\\"#a6a6a6\\\";             break;         case \\\"alert\\\":             row.getElement().style.backgroundColor = \\\"#A6A6DF\\\";             break;         case \\\"init\\\":             row.getElement().style.backgroundColor = \\\"#f2f20d\\\";             break;         case \\\"ready\\\":             row.getElement().style.backgroundColor = \\\"\\\";             row.getElement().style.color = \\\"\\\";             break;         } }\",\"columns\":[{\"formatter\":\"responsiveCollapse\",\"width\":30,\"minWidth\":30,\"align\":\"center\",\"resizable\":false,\"headerSort\":false,\"frozen\":true,\"title\":\"expand\",\"field\":\"expand\",\"headerVertical\":\"flip\"},{\"formatter\":\"function(cell, formatterParams, onRendered) {      var html = cell.getValue(); return html;  }\",\"title\":\"State\",\"field\":\"$stateIcon\",\"width\":100,\"frozen\":true,\"headerVertical\":\"flip\"},{\"formatter\":\"function(cell, formatterParams, onRendered) {     var html = cell.getValue(); return html;  }\",\"title\":\"Signal\",\"field\":\"signalIcon\",\"width\":100,\"frozen\":true,\"headerVertical\":\"flip\"},{\"title\":\"Name\",\"field\":\"$name\",\"width\":100,\"frozen\":true,\"headerVertical\":\"flip\"},{\"title\":\"State\",\"field\":\"$state\",\"width\":100,\"align\":\"center\",\"headerVertical\":\"flip\"},{\"title\":\"last-ready\",\"field\":\"lastSeenreadyFormatted\",\"width\":100,\"align\":\"left\",\"headerVertical\":\"flip\"},{\"title\":\"Homie\",\"field\":\"$homie\",\"width\":100,\"align\":\"left\",\"headerVertical\":\"flip\"},{\"title\":\"Platform\",\"field\":\"$implementation\",\"width\":100,\"align\":\"left\",\"headerVertical\":\"flip\"},{\"title\":\"Statistics\",\"columns\":[{\"title\":\"Interval\",\"field\":\"interval\",\"width\":100,\"headerVertical\":\"flip\"},{\"formatterParams\":{\"outputFormat\":\"d hh:mm:ss\",\"inputFormat\":\"seconds\",\"invalidPlaceholder\":\"(unknown)\"},\"title\":\"Uptime\",\"field\":\"uptime\",\"formatter\":\"function(cell, formatterParams, onRendered){     var pad = function (num) {         return (\\\"0\\\"+num).slice(-2);     };     var secs = Number(cell.getValue());     if (Number.isNaN(secs)) return;     var minutes = Math.floor(secs / 60);     secs = secs%60;     var hours = Math.floor(minutes/60);     minutes = minutes%60;     var days = Math.floor(hours/24);     hours = hours%24;     if (days>0)         return days+\\\"d \\\"+pad(hours)+\\\":\\\"+pad(minutes);     else         return pad(hours)+\\\":\\\"+pad(minutes)+\\\":\\\"+pad(secs); }\",\"width\":100,\"headerVertical\":\"flip\"},{\"formatterParams\":{\"min\":0,\"max\":100,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {if (value>0) return \\\"<span style='color:#FFFFFF;'>\\\"+value+\\\" %</span>\\\"; else return; }\",\"legendColor\":\"#FFFFFF\",\"legendAlign\":\"center\"},\"title\":\"Signal\",\"field\":\"signal\",\"formatter\":\"progress\",\"width\":100,\"headerVertical\":\"flip\"},{\"formatterParams\":{\"min\":2.5,\"max\":3.5,\"color\":[\"red\",\"green\",\"red\"],\"legend\":\"function (value) { if (value>0) return \\\"<span style='color:#FFFFFF;'>\\\"+value+\\\" V</span>\\\"; else return; }\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"Supply\",\"field\":\"supply\",\"formatter\":\"progress\",\"width\":100,\"headerVertical\":\"flip\"},{\"formatterParams\":{\"min\":0,\"max\":100,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {     if (value>0)         return \\\"<span style='color:#FFFFFF;'>\\\"+value+\\\" %</span>\\\";     else         return; }\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"Battery\",\"field\":\"battery\",\"formatter\":\"progress\",\"width\":100,\"headerVertical\":\"flip\"},{\"formatterParams\":{\"min\":0,\"max\":100000,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) { if (value>0) return \\\"<span style='color:#FFFFFF;'>\\\"+(value/1024).toFixed(2)+\\\" kB</span>\\\"; else return; }\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"Memory\",\"field\":\"freeheap\",\"formatter\":\"progress\",\"width\":100,\"headerVertical\":\"flip\"},{\"formatterParams\":{\"target\":\"_blank\",\"min\":0,\"max\":100,\"color\":[\"red\",\"orange\",\"green\"],\"legend\":\"function (value) {     if (value>0)         return \\\"<span style='color:#FFFFFF;'>\\\"+value+\\\" %</span>\\\";     else         return; }\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"CPU load\",\"field\":\"cpuload\",\"formatter\":\"progress\",\"width\":100,\"headerVertical\":\"flip\"},{\"formatterParams\":{\"min\":20,\"max\":60,\"color\":[\"green\",\"orange\",\"red\"],\"legend\":\"function (value) { if (value>0) return \\\"<span style='color:#FFFFFF;'>\\\"+value+\\\" °C</span>\\\"; else return; }\",\"legendColor\":\"#101010\",\"legendAlign\":\"center\"},\"title\":\"CPU temp\",\"field\":\"cputemp\",\"formatter\":\"progress\",\"width\":100,\"headerVertical\":\"flip\"}]},{\"title\":\"Firmware\",\"columns\":[{\"formatter\":\"link\",\"formatterParams\":{\"labelField\":\"$localip\",\"urlPrefix\":\"http://\",\"target\":\"_blank\"},\"title\":\"IP\",\"field\":\"$localip\",\"width\":100},{\"title\":\"mac\",\"field\":\"$mac\",\"width\":100},{\"title\":\"Accsess Point\",\"field\":\"SSID\",\"width\":100},{\"title\":\"Firmware\",\"field\":\"name\",\"width\":100},{\"title\":\"Version\",\"field\":\"version\",\"width\":100},{\"title\":\"Last Boot Cause\",\"field\":\"lastBootCause\",\"width\":100},{\"title\":\"Reset Reason\",\"field\":\"resetReason\",\"width\":100}]}]},\"customHeight\":12}","ui":{"icon":"font-awesome/fa-table","label":{"en-US":"Tabulator"},"type":"input","opts":{"types":["json","env"]}}},{"name":"tableDataProp","type":"str","value":"row","ui":{"icon":"font-awesome/fa-tag","label":{"en-US":"rowProperty"}}},{"name":"tableIndex","type":"str","value":"$topic","ui":{"icon":"font-awesome/fa-indent","label":{"en-US":"Index"},"type":"input","opts":{"types":["str","json","env"]}}},{"name":"maxRows","type":"num","value":"0","ui":{"icon":"font-awesome/fa-list-ol","type":"input","opts":{"types":["num","bool","env"]}}},{"name":"maxStore","type":"num","value":"0","ui":{"icon":"font-awesome/fa-database","type":"input","opts":{"types":["num","env"]}}},{"name":"dashboard","type":"str","value":"Remote Device Table","ui":{"icon":"font-awesome/fa-dashboard","label":{"en-US":"Dashboard"},"type":"input","opts":{"types":["str","env"]}}},{"name":"tableContext","type":"json","value":"{\"tableData\":{\"name\":\"tableData\"},\"tableConfig\":{\"name\":\"tableConfig\",\"storage\":\"file\"},\"tableEdit\":{\"name\":\"tableEdit\",\"storage\":\"file\"}}","ui":{"icon":"font-awesome/fa-database","label":{"en-US":"Context"},"type":"input","opts":{"types":["json","env"]}}}],"color":"#3FADB5","icon":"node-red-dashboard/ui_slider.png","status":{"x":360,"y":34,"wires":[{"id":"5eb0bd6b.74b794","port":0}]}},{"id":"29864e06.df9bf2","type":"group","z":"9169162a.3666c8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["555fc1ff.f76ec","7dbb8ea9.82f78","5dca5c84.2343a4","f6cb67e8.936bd8","bea02893.a4b2d8","9f450871.a7e898","501d267.2a30cd8","cb9c6cd6.bb24f","7ef70cf4.339c14","70fb99ce.179818","55fff5d4.4d540c","eb77dff6.786b","a39b145b.2f85a8","3b2a119d.e7e9fe","479d0c98.f01fc4","2acdbda4.2ddb52","6745301.14a70d","2f001378.94563c","7eb646b3.0115b8","8333da51.946078","64c559ff.0b52f8","6be73c1.19a48c4","56aab3a9.4c341c","db5d644e.2d8d98","f7246587.e2fa68","bbecd1d.5a6ad3"],"x":14,"y":1339},{"id":"1f65e4dc.fe2c6b","type":"group","z":"9169162a.3666c8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["af57bfd.8e1624","11c02db4.bb5062","2c87e464.ed112c","7241fcc5.d78be4","d7ec7a50.9b3fe8","9c5cf674.45e708","32ec3fcf.0da04","cf5ce59c.595288","56f6e084.d0f97"],"x":34,"y":1119},{"id":"11dff0cc.b4403f","type":"ui_group","name":"LinePlots","tab":"ac5976a8.e48e68","order":3,"disp":false,"width":"6","collapse":false},{"id":"e7262d73.2bbfd","type":"ui_group","name":"Reset","tab":"ac5976a8.e48e68","order":2,"disp":false,"width":"6","collapse":false},{"id":"a76242ca.06f4f","type":"ui_group","name":"LinePlots2","tab":"ac5976a8.e48e68","order":3,"disp":false,"width":"6","collapse":false},{"id":"61114dc3.eaaaf4","type":"ui_group","d":true,"name":"Deployment","tab":"1e90c574.7b3c1b","order":1,"disp":true,"width":"9","collapse":false},{"id":"ac5976a8.e48e68","type":"ui_tab","name":"Plots","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2d7a7cbb.4b5964","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"NIVA Ferrybox","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1e90c574.7b3c1b","type":"ui_tab","d":true,"name":"Operation","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ea418239.74d39","type":"ui_group","name":"Sensors","tab":"87275b64.6770e8","order":4,"disp":true,"width":"6","collapse":false},{"id":"92426bff.d82998","type":"ui_group","name":"Water sample GPS trigger","tab":"1e90c574.7b3c1b","order":2,"disp":true,"width":"6","collapse":false},{"id":"5f363f94.f19e6","type":"ui_group","name":"30 second averages","tab":"ac5976a8.e48e68","order":4,"disp":true,"width":"6","collapse":false},{"id":"76d30bd5.a946a4","type":"xterm_config","rows":60,"columns":120,"cursorStyle":"bar","fastScrollModifier":"alt","scrollSensitivity":1,"fastScrollSensitivity":1,"scrollback":1000,"backgroundColor":"#000000","foregroundColor":"#ffffff","fontSize":14,"cursorBlink":true,"drawBoldTextInBrightColors":true,"loggingEnabled":false,"name":"XTerminal"},{"id":"2fb6829f.1d232e","type":"ui_group","name":"pH","tab":"ac5976a8.e48e68","order":5,"disp":false,"width":"6","collapse":false},{"id":"87275b64.6770e8","type":"ui_tab","name":"Operation","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"edd9c259.a62ea","type":"ui_group","name":"Status","tab":"87275b64.6770e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2d7f3e8c.8c5b12","type":"ui_group","name":"Commands","tab":"87275b64.6770e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"e13f8815.11d468","type":"ui_group","d":true,"name":"Buttons","tab":"dc85a0ef.c0453","order":1,"disp":false,"width":"3","collapse":false},{"id":"dc85a0ef.c0453","type":"ui_tab","name":"10 hour plots","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"424d89a9.0f12f8","type":"ui_tab","name":"Map","icon":"dashboard","disabled":false,"hidden":false},{"id":"dfe5fa2b.211718","type":"ui_group","name":"Default","tab":"424d89a9.0f12f8","order":1,"disp":false,"width":"16","collapse":false},{"id":"1400696b.7e27a7","type":"ui_group","name":"Cabinet","tab":"24ec1b4c.68fc64","order":1,"disp":true,"width":"6","collapse":false},{"id":"24ec1b4c.68fc64","type":"ui_tab","name":"Values","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a22d664c.196168","type":"ui_group","name":"File upload","tab":"53eb6699.e6f648","order":4,"disp":true,"width":"6","collapse":false},{"id":"bd5b7f9f.83b55","type":"ui_group","name":"Buttons","tab":"","order":1,"disp":false,"width":"3","collapse":false},{"id":"53eb6699.e6f648","type":"ui_tab","name":"File Upload","icon":"dashboard","order":4},{"id":"690f3ce4.79dd24","type":"ui_group","name":"GPS autosampler","tab":"87275b64.6770e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"6f3ff8f2.4aa468","type":"ui_group","name":"Sampled","tab":"424d89a9.0f12f8","order":2,"disp":true,"width":"4","collapse":false},{"id":"5df2da97.3bea24","type":"ui_group","name":"Remaining","tab":"424d89a9.0f12f8","order":3,"disp":true,"width":"4","collapse":false},{"id":"dfb4a60f.d788f8","type":"ui_group","name":"Data Export","tab":"48418b79.0f5834","order":1,"disp":true,"width":"12"},{"id":"48418b79.0f5834","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1},{"id":"6cbd27d1.772df8","type":"ui_group","name":"File download","tab":"87275b64.6770e8","order":5,"disp":true,"width":"6","collapse":false},{"id":"b9702f6f.ea8ed","type":"link out","z":"7e064ca5.9821e4","name":"CTD","links":["61763c44.ff0004"],"x":495,"y":340,"wires":[]},{"id":"51c6608c.154fa","type":"link out","z":"7e064ca5.9821e4","name":"Otode","links":["2ad32660.9d88ba"],"x":635,"y":380,"wires":[]},{"id":"aeb21764.b2a838","type":"udp in","z":"7e064ca5.9821e4","name":"Otode 4002","iface":"","port":"4002","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":290,"y":420,"wires":[["51c6608c.154fa"]]},{"id":"f3c1dfda.de02c","type":"udp in","z":"7e064ca5.9821e4","name":"Conductivity 4001","iface":"","port":"4001","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":310,"y":500,"wires":[["9d5a78be.2ca968"]]},{"id":"9d5a78be.2ca968","type":"link out","z":"7e064ca5.9821e4","name":"Cond","links":["17868dd3.1e7112"],"x":515,"y":500,"wires":[]},{"id":"cf06c563.4da148","type":"switch","z":"9e1ed9f.0562728","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"GPGGA,","vt":"str"},{"t":"cont","v":"GPRMC,","vt":"str"},{"t":"cont","v":"GPZDA,","vt":"str"},{"t":"cont","v":"GPVTG,","vt":"str"},{"t":"cont","v":"GPGLL,","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":410,"y":380,"wires":[["6f4609bc.805a28"],["a0d5899d.4f4838"],["37373ccb.493914"],["29fe7064.475a9"],["d6c6aa7e.8fa548"]]},{"id":"26b37c9.d12e684","type":"link out","z":"9e1ed9f.0562728","name":"GPS processed","links":["60f162ea.f330fc","83440d9f.e8c7e","26ddcdc0.ce2282","f40e06f9.a17998","303277bd.36b7a8","cc9f74cb.5c2a88"],"x":1115,"y":320,"wires":[]},{"id":"a57408d7.818c68","type":"delay","z":"9e1ed9f.0562728","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":960,"y":320,"wires":[["26b37c9.d12e684","31014689.6012ea"]]},{"id":"61763c44.ff0004","type":"link in","z":"2b03b22f.4f348e","name":"","links":["b9702f6f.ea8ed"],"x":135,"y":80,"wires":[["6953a378.1ded0c","cf8c4cd6.c8d5f","50272b67.217b84"]]},{"id":"d48b1d22.0b3cf","type":"link out","z":"2b03b22f.4f348e","name":"C3Processed","links":["2111d4ec.17c63c","d14ab40b.0a8b18"],"x":718.8299102783203,"y":106.32986450195312,"wires":[]},{"id":"17868dd3.1e7112","type":"link in","z":"4d1a4003.dfefd","name":"Cond","links":["9d5a78be.2ca968"],"x":155,"y":120,"wires":[["39645aae.a01726"]]},{"id":"39645aae.a01726","type":"join","z":"4d1a4003.dfefd","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":259.9965476989746,"y":129.77082061767578,"wires":[["bec4a815.a29ef8","5095c28d.13faec"]]},{"id":"574c55f6.5edd2c","type":"link out","z":"4d1a4003.dfefd","name":"CondProcessed","links":["48462c47.cd1894","b6fca797.6986b8"],"x":661.9931106567383,"y":131.7430534362793,"wires":[]},{"id":"2ad32660.9d88ba","type":"link in","z":"7277229c.a298ec","name":"Otode ","links":["51c6608c.154fa"],"x":158.83333206176758,"y":98.59029388427734,"wires":[["df958a57.b92838","c15f4f1b.1117e"]]},{"id":"df958a57.b92838","type":"join","z":"7277229c.a298ec","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":80,"wires":[["8d2174cc.c332e8"]]},{"id":"aa4d0cf6.f876f","type":"link out","z":"7277229c.a298ec","name":"OtodeProcessed","links":["4b058fd1.8d611","f2faf943.53dab8"],"x":665.8264427185059,"y":110.33334732055664,"wires":[]},{"id":"4b058fd1.8d611","type":"link in","z":"f2a1545.96bd1a8","name":"OtodeProcessed","links":["aa4d0cf6.f876f"],"x":197.82640838623047,"y":401.916711807251,"wires":[["7e5f8340.968aac"]]},{"id":"60f162ea.f330fc","type":"link in","z":"f2a1545.96bd1a8","name":"GPS processed","links":["26b37c9.d12e684"],"x":208.8298807144165,"y":494.9201889038086,"wires":[["7e5f8340.968aac"]]},{"id":"2111d4ec.17c63c","type":"link in","z":"f2a1545.96bd1a8","name":"C3 processed","links":["d48b1d22.0b3cf"],"x":95,"y":580,"wires":[["7e5f8340.968aac"]]},{"id":"7e5f8340.968aac","type":"join","z":"f2a1545.96bd1a8","name":"Join sensor payloads","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":320,"y":680,"wires":[["dd1e9618.d799d8"]]},{"id":"e8056928.69bef8","type":"csv","z":"f2a1545.96bd1a8","name":"Output CSV","sep":",","hdrin":false,"hdrout":"once","multi":"one","ret":"\\r\\n","temp":"Date,Time [UTC],Latitude,Longitude,Inlet temperature [°C],Oxygen saturation [%],Oxygen conc. [mg/L],Salinity [PSU],CDOM [ppb],Chlorophyll [µg/L],Turbidity [NTU],CDOM_cal [ppb],Chlorophyll_cal [µg/L],Turbidity_cal [NTU],Flow [l/min],Pump status","skip":0,"strings":true,"include_empty_strings":false,"include_null_values":false,"x":710,"y":580,"wires":[["bc7e13e2.72801"]]},{"id":"4afca0e1.e0dbd","type":"change","z":"f2a1545.96bd1a8","name":"Store raw data","rules":[{"t":"set","p":"GPS","pt":"msg","to":"payload.GPS","tot":"msg"},{"t":"set","p":"o2","pt":"msg","to":"payload.O2","tot":"msg"},{"t":"set","p":"c3","pt":"msg","to":"payload.C3","tot":"msg"},{"t":"set","p":"cond","pt":"msg","to":"payload.cond","tot":"msg"},{"t":"set","p":"time","pt":"msg","to":"payload.Time","tot":"msg"},{"t":"set","p":"TempIn","pt":"msg","to":"payload.TempIn","tot":"msg"},{"t":"set","p":"GPS","pt":"msg","to":"payload.GPS","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":440,"wires":[["42b4238f.25a55c"]]},{"id":"bc7e13e2.72801","type":"change","z":"f2a1545.96bd1a8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"CSV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":580,"wires":[["e9d64e36.cfefc","77e7b551.0b89fc","20fc9fa5.9eb5f","63e0a996.6d1218"]]},{"id":"42b4238f.25a55c","type":"link out","z":"f2a1545.96bd1a8","name":"Dashboard","links":["5d9d5058.edbc2"],"x":875,"y":316,"wires":[]},{"id":"a2ecf60f.73d468","type":"comment","z":"f2a1545.96bd1a8","name":"Send to Dashbord for plotting","info":"","x":1019,"y":314,"wires":[]},{"id":"48462c47.cd1894","type":"link in","z":"f2a1545.96bd1a8","name":"CondProcessed","links":["574c55f6.5edd2c"],"x":175,"y":720,"wires":[["7e5f8340.968aac"]]},{"id":"5d9d5058.edbc2","type":"link in","z":"9169162a.3666c8","name":"Dashboard","links":["42b4238f.25a55c"],"x":105,"y":200,"wires":[["306d7758.80f858","c9ee1adf.8aeb98","ac782708.1ee4c8","a46e8326.48f9c","b894ba49.d74b28","4dabe5c6.5d849c","af2c9615.630b48","b03d95a2.414318","5558bc9d.1ee394","4b1a9d79.046b94","3208cb59.9ce404","12a1425e.9f3dde","d2be336e.c094"]]},{"id":"512fa456.1e1d7c","type":"ui_chart","z":"9169162a.3666c8","name":"","group":"11dff0cc.b4403f","order":1,"width":0,"height":0,"label":"Oxygen saturation [%]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Updating","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":140,"wires":[[]]},{"id":"306d7758.80f858","type":"change","z":"9169162a.3666c8","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"o2.sat","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"O2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":140,"wires":[["512fa456.1e1d7c"]]},{"id":"d287648.e858198","type":"ui_button","z":"9169162a.3666c8","name":"","group":"e7262d73.2bbfd","order":0,"width":0,"height":0,"passthru":false,"label":"Reset plots","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":330,"y":40,"wires":[["512fa456.1e1d7c","bbd86bcb.a871a8","dcab8201.a0128","fa59b8ad.e4b2d8","cfe9f3ba.594a9","78ad860f.7b1218","5558bc9d.1ee394","68751994.154828","3cbed43.b82312c","be7508f0.ff7f18"]]},{"id":"c9ee1adf.8aeb98","type":"change","z":"9169162a.3666c8","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"o2.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"O2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[["bbd86bcb.a871a8"]]},{"id":"ac782708.1ee4c8","type":"change","z":"9169162a.3666c8","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"c3.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"C3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":220,"wires":[["bbd86bcb.a871a8"]]},{"id":"bbd86bcb.a871a8","type":"ui_chart","z":"9169162a.3666c8","name":"","group":"a76242ca.06f4f","order":1,"width":0,"height":0,"label":"Temperature [℃]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Updating","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#ffd300","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":180,"wires":[[]]},{"id":"a46e8326.48f9c","type":"change","z":"9169162a.3666c8","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"c3.CDOM","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"CDOM","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":300,"wires":[["dcab8201.a0128"]]},{"id":"dcab8201.a0128","type":"ui_chart","z":"9169162a.3666c8","name":"","group":"a76242ca.06f4f","order":2,"width":0,"height":0,"label":"CDOM [ppb]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Updating","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#00fa1d","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":300,"wires":[[]]},{"id":"af57bfd.8e1624","type":"udp out","z":"9169162a.3666c8","g":"1f65e4dc.fe2c6b","name":"Send to MOXA","addr":"192.168.13.2","iface":"","port":"4002","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":340,"y":1260,"wires":[]},{"id":"11c02db4.bb5062","type":"ui_button","z":"9169162a.3666c8","g":"1f65e4dc.fe2c6b","name":"","group":"ea418239.74d39","order":0,"width":0,"height":0,"passthru":true,"label":"Start O2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"start\\r\\n\"","payloadType":"json","topic":"","x":120,"y":1240,"wires":[["af57bfd.8e1624"]]},{"id":"2c87e464.ed112c","type":"ui_button","z":"9169162a.3666c8","g":"1f65e4dc.fe2c6b","name":"","group":"ea418239.74d39","order":0,"width":0,"height":0,"passthru":false,"label":"Stop O2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"stop\\r\\n\"","payloadType":"json","topic":"","x":120,"y":1280,"wires":[["af57bfd.8e1624"]]},{"id":"7241fcc5.d78be4","type":"udp out","z":"9169162a.3666c8","g":"1f65e4dc.fe2c6b","name":"Send to MOXA","addr":"192.168.13.2","iface":"","port":"4001","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":780,"y":1260,"wires":[]},{"id":"d7ec7a50.9b3fe8","type":"ui_button","z":"9169162a.3666c8","g":"1f65e4dc.fe2c6b","name":"","group":"ea418239.74d39","order":0,"width":0,"height":0,"passthru":true,"label":"Start Conductivity","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"start\\r\\n\"","payloadType":"json","topic":"","x":530,"y":1240,"wires":[["7241fcc5.d78be4"]]},{"id":"9c5cf674.45e708","type":"ui_button","z":"9169162a.3666c8","g":"1f65e4dc.fe2c6b","name":"","group":"ea418239.74d39","order":0,"width":0,"height":0,"passthru":false,"label":"Stop Conductivity","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"stop\\r\\n\"","payloadType":"json","topic":"","x":530,"y":1280,"wires":[["7241fcc5.d78be4"]]},{"id":"b894ba49.d74b28","type":"change","z":"9169162a.3666c8","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"cond.temp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Conductivity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":260,"wires":[["bbd86bcb.a871a8"]]},{"id":"4dabe5c6.5d849c","type":"change","z":"9169162a.3666c8","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"cond.sal","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Salinity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":340,"wires":[["fa59b8ad.e4b2d8"]]},{"id":"fa59b8ad.e4b2d8","type":"ui_chart","z":"9169162a.3666c8","name":"","group":"11dff0cc.b4403f","order":2,"width":0,"height":0,"label":"Salinity [PSU]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Updating","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#ff9500","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":340,"wires":[[]]},{"id":"3d1fb0ea.5cef1","type":"get-ai-value","z":"c8a79714.25d648","name":"","x":230,"y":200,"wires":[["6d7c87d1.229378"],["dc9e6217.6454b"],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"dc9e6217.6454b","type":"range","z":"c8a79714.25d648","minin":"0","maxin":"10","minout":"-5","maxout":"50","action":"scale","round":false,"property":"payload","name":"Flowbox temperature","x":460,"y":120,"wires":[["6e59e5d7.335bcc"]]},{"id":"6d7c87d1.229378","type":"range","z":"c8a79714.25d648","minin":"0","maxin":"10","minout":"0","maxout":"25","action":"scale","round":false,"property":"payload","name":"Flowbox flow","x":450,"y":80,"wires":[["6e59e5d7.335bcc","4e783309.faa2dc"]]},{"id":"c7be28c1.b80df8","type":"link out","z":"c8a79714.25d648","name":"AI processed","links":["825a9d37.6c656","e51165ff.b235c8"],"x":935,"y":220,"wires":[]},{"id":"825a9d37.6c656","type":"link in","z":"f2a1545.96bd1a8","name":"AI processed","links":["c7be28c1.b80df8"],"x":165,"y":780,"wires":[["7e5f8340.968aac"]]},{"id":"555fc1ff.f76ec","type":"ui_text_input","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"Start time","label":"Start time (UTC)","tooltip":"Start time","group":"61114dc3.eaaaf4","order":4,"width":"4","height":"1","passthru":true,"mode":"time","delay":300,"topic":"StartTime","x":480,"y":1560,"wires":[["55fff5d4.4d540c"]]},{"id":"7dbb8ea9.82f78","type":"ui_date_picker","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"Start Date","label":"Start Date","group":"61114dc3.eaaaf4","order":2,"width":"5","height":"2","passthru":true,"topic":"StartDate","x":480,"y":1520,"wires":[["70fb99ce.179818"]]},{"id":"5dca5c84.2343a4","type":"ui_text_input","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"filename","label":"Filename","tooltip":"","group":"61114dc3.eaaaf4","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"filename","x":480,"y":1480,"wires":[["7ef70cf4.339c14","56aab3a9.4c341c"]]},{"id":"f6cb67e8.936bd8","type":"ui_switch","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"start now","label":"Start now?","tooltip":"","group":"61114dc3.eaaaf4","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"startnow","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":480,"y":1700,"wires":[["3b2a119d.e7e9fe"]]},{"id":"bea02893.a4b2d8","type":"ui_text_input","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"End time","label":"End time (UTC)","tooltip":"End time","group":"61114dc3.eaaaf4","order":6,"width":"4","height":"3","passthru":true,"mode":"time","delay":300,"topic":"EndTime","x":480,"y":1660,"wires":[["a39b145b.2f85a8"]]},{"id":"9f450871.a7e898","type":"ui_date_picker","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"End Date","label":"End Date","group":"61114dc3.eaaaf4","order":3,"width":"5","height":"2","passthru":true,"topic":"EndDate","x":480,"y":1620,"wires":[["eb77dff6.786b"]]},{"id":"501d267.2a30cd8","type":"ui_button","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","group":"61114dc3.eaaaf4","order":8,"width":0,"height":0,"passthru":false,"label":"Start deployment","tooltip":"","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"dep_success","x":450,"y":1840,"wires":[["479d0c98.f01fc4"]]},{"id":"cb9c6cd6.bb24f","type":"ui_button","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","group":"61114dc3.eaaaf4","order":9,"width":0,"height":0,"passthru":false,"label":"Stop deployment","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"stop_rec","x":450,"y":1880,"wires":[["7eb646b3.0115b8"]]},{"id":"7ef70cf4.339c14","type":"change","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","rules":[{"t":"set","p":"name","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1480,"wires":[[]]},{"id":"70fb99ce.179818","type":"change","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","rules":[{"t":"set","p":"startdate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1520,"wires":[[]]},{"id":"55fff5d4.4d540c","type":"change","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","rules":[{"t":"set","p":"starttime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1560,"wires":[[]]},{"id":"eb77dff6.786b","type":"change","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","rules":[{"t":"set","p":"enddate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1620,"wires":[[]]},{"id":"a39b145b.2f85a8","type":"change","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","rules":[{"t":"set","p":"endtime","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1660,"wires":[[]]},{"id":"3b2a119d.e7e9fe","type":"change","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","rules":[{"t":"set","p":"start_now","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1700,"wires":[[]]},{"id":"479d0c98.f01fc4","type":"function","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"Generate filename","func":"    var name=global.get(\"name\")\n    var startdate=global.get(\"startdate\");\n    var starttime=global.get(\"starttime\");\n    var enddate=global.get(\"enddate\");\n    var endtime=global.get(\"endtime\");\n    var start_now=global.get(\"start_now\");\n\nglobal.set (\"recording\",3);\n\n\nif(name !='' && startdate !='' && starttime !=''&& start_now==false)\n{\n    startdate=new Date(startdate).toISOString();\n    starttime=new Date(starttime).toISOString();\n    \n    // the variable is defined\n    msg.datestartstr=startdate.slice(0,11) + starttime.slice(11,); \n    global.set('startdatetime', msg.datestartstr);\n    msg.ready=true;\n    global.set('ready', msg.ready);\n    global.set (\"recording\", 2)\n}\nelse if(name  !='' && start_now==true)\n{\n/*    msg.datestartstr = ts.slice(0,10).replace(/-/g,'') \n+ '-' + ts.slice(11,16).replace(/:/g,'');\n    msg.filename=name + \"_\" + msg.datestartstr;\n    */\n    msg.datestartstr=new Date().toISOString();\n    global.set('startdatetime', msg.datestartstr);\n    msg.ready=true;\n    global.set('ready', msg.ready);\n    global.set (\"recording\",1);\n}\nelse\n{\n    msg.ready=false;\n    global.set('ready', msg.ready);\n    global.set (\"recording\",3);\n\n}\n\nif (endtime  !='' && enddate !='')\n{\n    enddate=new Date(enddate).toISOString();\n    endtime=new Date(endtime).toISOString();\n    \n    dateendstr=enddate.slice(0,11) + endtime.slice(11,);\n    global.set('enddatetime', dateendstr);\n}\n\nmsg.name=name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":1840,"wires":[["6745301.14a70d"]]},{"id":"2acdbda4.2ddb52","type":"ui_toast","z":"9169162a.3666c8","g":"29864e06.df9bf2","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":true,"topic":"Deployment successful","name":"","x":1150,"y":1820,"wires":[]},{"id":"6745301.14a70d","type":"switch","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","property":"ready","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":1840,"wires":[["2acdbda4.2ddb52","6be73c1.19a48c4"],["2f001378.94563c","6be73c1.19a48c4"]]},{"id":"2f001378.94563c","type":"ui_toast","z":"9169162a.3666c8","g":"29864e06.df9bf2","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Deployment unsuccessful. Check the input fields","name":"","x":1130,"y":1920,"wires":[]},{"id":"7eb646b3.0115b8","type":"change","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","rules":[{"t":"set","p":"ready","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1880,"wires":[["6be73c1.19a48c4"]]},{"id":"8333da51.946078","type":"ui_button","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","group":"61114dc3.eaaaf4","order":11,"width":0,"height":0,"passthru":false,"label":"Reset to today (UTC-time)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":150,"y":1440,"wires":[["64c559ff.0b52f8","555fc1ff.f76ec","5dca5c84.2343a4"]]},{"id":"64c559ff.0b52f8","type":"change","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"Set today's date","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1380,"wires":[["7dbb8ea9.82f78","555fc1ff.f76ec","9f450871.a7e898","bea02893.a4b2d8"]]},{"id":"6be73c1.19a48c4","type":"link out","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"Filename and file handler","links":["fb292021.67e73","856b96f1.745a68"],"x":965,"y":1760,"wires":[]},{"id":"fb292021.67e73","type":"link in","z":"f2a1545.96bd1a8","name":"Filename and file handler","links":["6be73c1.19a48c4"],"x":575,"y":700,"wires":[["1c6895fd.b3fc8a"]]},{"id":"b7bf80db.f1c13","type":"comment","z":"f2a1545.96bd1a8","name":"Set filepath and change filename per 15min","info":"","x":740,"y":760,"wires":[]},{"id":"2e989eba.0cae22","type":"switch","z":"f2a1545.96bd1a8","d":true,"name":"","property":"payload.filename.recording","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":1150,"y":580,"wires":[["12d84ba8.faa514","e9d64e36.cfefc"],["e4ce5d1a.aa2e9"],["939c4f7d.91596"],["aa4e5202.9035e"]]},{"id":"e4ce5d1a.aa2e9","type":"change","z":"f2a1545.96bd1a8","name":"","rules":[{"t":"set","p":"recording","pt":"msg","to":"Configured","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":600,"wires":[["30e5825b.415fce"]]},{"id":"12d84ba8.faa514","type":"change","z":"f2a1545.96bd1a8","name":"","rules":[{"t":"set","p":"recording","pt":"msg","to":"Recording","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":560,"wires":[["30e5825b.415fce"]]},{"id":"939c4f7d.91596","type":"change","z":"f2a1545.96bd1a8","name":"","rules":[{"t":"set","p":"recording","pt":"msg","to":"Not configured","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":640,"wires":[["30e5825b.415fce"]]},{"id":"56aab3a9.4c341c","type":"change","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1700,"wires":[["f6cb67e8.936bd8","db5d644e.2d8d98"]]},{"id":"30e5825b.415fce","type":"ui_text","z":"f2a1545.96bd1a8","d":true,"group":"61114dc3.eaaaf4","order":10,"width":"9","height":"2","name":"","label":"<font size=6>{{msg.recording}}","format":"","layout":"col-center","x":1710,"y":680,"wires":[]},{"id":"dd1e9618.d799d8","type":"function","z":"f2a1545.96bd1a8","name":"Write timestamp","func":"  var time=new Date().toISOString();\n // msg.topic=\"Time\";\n\nmsg.payload[\"Time\"]=({\n\"time\" : time});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":760,"wires":[["4afca0e1.e0dbd","c22c9efe.90b68","316f6711.6a8558","4e09e1fc.3f21f"]]},{"id":"77e7b551.0b89fc","type":"file","z":"f2a1545.96bd1a8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1730,"y":460,"wires":[[]]},{"id":"aa4e5202.9035e","type":"change","z":"f2a1545.96bd1a8","name":"","rules":[{"t":"set","p":"recording","pt":"msg","to":"Stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":680,"wires":[["30e5825b.415fce"]]},{"id":"db5d644e.2d8d98","type":"ui_switch","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"No stop date?","label":"Stop date not required?","tooltip":"","group":"61114dc3.eaaaf4","order":7,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"nostopdate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":1740,"wires":[["f7246587.e2fa68"]]},{"id":"f7246587.e2fa68","type":"change","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"","rules":[{"t":"set","p":"stop_not_required","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1740,"wires":[[]]},{"id":"b0568968.1ad258","type":"comment","z":"f2a1545.96bd1a8","name":"Set the status of the recording","info":"","x":1650,"y":560,"wires":[]},{"id":"e9d64e36.cfefc","type":"change","z":"f2a1545.96bd1a8","d":true,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CSV","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":500,"wires":[["85d7ce7d.8d866"]]},{"id":"cc20cdf.bf77b3","type":"comment","z":"f2a1545.96bd1a8","name":"Edit here nr of payloads to combine","info":"","x":360,"y":640,"wires":[]},{"id":"68c39c28.009784","type":"comment","z":"9169162a.3666c8","name":"Plots","info":"","x":480,"y":60,"wires":[]},{"id":"32ec3fcf.0da04","type":"comment","z":"9169162a.3666c8","g":"1f65e4dc.fe2c6b","name":"Send manual start/stop signals to otode and conductivity, in case they don't automatically start","info":"","x":420,"y":1160,"wires":[]},{"id":"bbecd1d.5a6ad3","type":"comment","z":"9169162a.3666c8","g":"29864e06.df9bf2","name":"File name and time selector","info":"","x":580,"y":1400,"wires":[]},{"id":"302f05ac.fbee4a","type":"comment","z":"f2a1545.96bd1a8","name":"Set the combined payload to CSV fomat","info":"","x":790,"y":540,"wires":[]},{"id":"3a315116.e4f94e","type":"udp in","z":"7e064ca5.9821e4","name":"C3 UDP 4003","iface":"","port":"4003","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":300,"y":380,"wires":[["b9702f6f.ea8ed"]]},{"id":"80211b85.552bd8","type":"udp in","z":"7e064ca5.9821e4","name":"Inlet temperature SBS","iface":"","port":"4004","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":280,"y":740,"wires":[["b9e8c0c5.91c8b"]]},{"id":"b9e8c0c5.91c8b","type":"link out","z":"7e064ca5.9821e4","name":"SBS","links":["2479ee64.5ec472"],"x":585,"y":720,"wires":[]},{"id":"2479ee64.5ec472","type":"link in","z":"84956c08.c7087","name":"SBS","links":["b9e8c0c5.91c8b"],"x":215,"y":140,"wires":[["e6477c0f.93ecc"]]},{"id":"af2c9615.630b48","type":"change","z":"9169162a.3666c8","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"c3.turb","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Turbidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":380,"wires":[["cfe9f3ba.594a9"]]},{"id":"cfe9f3ba.594a9","type":"ui_chart","z":"9169162a.3666c8","name":"","group":"11dff0cc.b4403f","order":3,"width":0,"height":0,"label":"Turbidity [NTU]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Updating","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#bc2047","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":380,"wires":[[]]},{"id":"b03d95a2.414318","type":"change","z":"9169162a.3666c8","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"c3.chl_a","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Chlorophyll","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":420,"wires":[["78ad860f.7b1218"]]},{"id":"78ad860f.7b1218","type":"ui_chart","z":"9169162a.3666c8","name":"","group":"a76242ca.06f4f","order":3,"width":0,"height":0,"label":"Chlorophyll [µg/L]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Updating","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#207e2f","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":420,"wires":[[]]},{"id":"8c63a5cf.0b7948","type":"ui_table","z":"9169162a.3666c8","group":"5f363f94.f19e6","name":"Table","order":1,"width":"6","height":"6","columns":[],"outputs":0,"cts":false,"x":1110,"y":60,"wires":[]},{"id":"cf5ce59c.595288","type":"link in","z":"9169162a.3666c8","g":"1f65e4dc.fe2c6b","name":"JumpStartO2","links":["e4b0f49f.e46d68","fe97a8c4.164c08"],"x":175,"y":1200,"wires":[["af57bfd.8e1624"]]},{"id":"56f6e084.d0f97","type":"link in","z":"9169162a.3666c8","g":"1f65e4dc.fe2c6b","name":"JumpStartSal","links":[],"x":615,"y":1200,"wires":[["7241fcc5.d78be4"]]},{"id":"c15f4f1b.1117e","type":"trigger","z":"7277229c.a298ec","name":"","op1":"","op2":"\"start\\n\"","op1type":"nul","op2type":"json","duration":"30","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":310,"y":180,"wires":[["fe97a8c4.164c08","4c8001d0.e73ab"]]},{"id":"fe97a8c4.164c08","type":"link out","z":"7277229c.a298ec","name":"SendStart02","links":["cf5ce59c.595288"],"x":555,"y":260,"wires":[]},{"id":"dcbc5cca.b4f3c","type":"link out","z":"4d1a4003.dfefd","name":"SendStartSal","links":[],"x":575,"y":260,"wires":[]},{"id":"bec4a815.a29ef8","type":"trigger","z":"4d1a4003.dfefd","name":"","op1":"","op2":"\"start\\n\"","op1type":"nul","op2type":"json","duration":"30","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":410,"y":200,"wires":[["dcbc5cca.b4f3c","e4b2a996.35d5a8"]]},{"id":"5eb0bd6b.74b794","type":"function","z":"2924702c.b33a7","name":"handle tableData","func":"var status = {fill:\"red\",shape:\"dot\",text: \"payload \"};\nvar tableIndex = env.get(\"tableIndex\") || \"$topic\";\nvar tableDataProp = env.get(\"tableDataProp\") || \"row\";\nvar tableContext = env.get(\"tableContext\");\nvar dashboard = env.get(\"dashboard\");\nvar maxRows = env.get(\"maxRows\") || 0;\nvar maxStore = env.get(\"maxStore\") || 0;\n\nif (!tableContext.hasOwnProperty(\"tableData\") || !tableContext.hasOwnProperty(\"tableConfig\")) {\n    status.text=\"tableContext not defined\";\n    node.error(status.text);\n    return [{payload:status},null];\n}\n\n// context store to cache table data (memoryOnly prefered)\nvar tableData = flow.get(\"$parent.\"+tableContext.tableData.name,tableContext.tableData.storage);\nif (tableData===undefined) {\n    node.warn(\"[ui-table handler] tableData initialized!\");\n    tableData={};\n    flow.set(\"$parent.\"+tableContext.tableData.name,tableData,tableContext.tableData.storage);\n}\n\n// context Store to save table configuration (file)\nvar tableConfig = flow.get(\"$parent.\"+tableContext.tableConfig.name,tableContext.tableConfig.storage);\nif (tableConfig===undefined) {\n    node.warn(\"[ui-table handler] tableConfig initialized!\");\n    tableConfig={ResponsiveLayout:true};\n    flow.set(\"$parent.\"+tableContext.tableConfig.name,tableConfig,tableContext.tableConfig.storage);\n}\n\nif (tableConfig.hasOwnProperty(\"maxStore\")) maxStore=tableConfig.maxStore;\nif (tableConfig.hasOwnProperty(\"maxRows\")) maxRows=tableConfig.maxRows;\n\n// context Store to save table configuration (file)\nvar tableEdit;\nif (tableContext.hasOwnProperty(\"tableEdit\")) {\n    tableEdit = flow.get(\"$parent.\"+tableContext.tableEdit.name,tableContext.tableEdit.storage);\n    if (tableEdit===undefined) {\n        node.warn(\"[ui-table handler] tableEdit initialized!\");\n        tableEdit={};\n        flow.set(\"$parent.\"+tableContext.tableEdit.name,tableEdit,tableContext.tableEdit.storage);\n    }\n}\n\n// function to merge partial data into existing table row\nvar mergeObject = function (destination, source, filter) {\n    for (let currentSource in source) {\n        if (source.hasOwnProperty(currentSource)) {\n            if (filter!==undefined && tableEdit && tableEdit.hasOwnProperty(filter) && tableEdit[filter].hasOwnProperty(currentSource)) {\n                destination[currentSource]= tableEdit[filter][currentSource];\n                source[currentSource]=tableEdit[filter][currentSource];\n            } else {\n                destination[currentSource]= source[currentSource];\n            }\n        }    \n    }\n    return source;\n};\n\n// merge edits into a destination object respecting _children\nvar mergeEdits = function(destination) {\n    \n    var mergeChildEdits = function(children) {\n        children.forEach(child => {\n            if (child.hasOwnProperty(tableIndex) && tableEdit.hasOwnProperty(child[tableIndex])) {\n//                node.warn([\"mergeChild\",child])\n                Object.keys(tableEdit[child[tableIndex]]).forEach(edit => {\n                    if (child.hasOwnProperty(edit)) {\n                        child[edit]=tableEdit[child[tableIndex]][edit];\n//                        node.warn([\"mergeChild edit \",edit,child[edit]])\n                    }\n                });\n            }\n            if (child.hasOwnProperty(\"_children\")) {\n                mergeChildEdits(child._children);\n            }\n        })\n    }\n    \n\n    Object.keys(destination).forEach(row => {\n        if (destination[row].hasOwnProperty(tableIndex)) {\n            if (tableEdit.hasOwnProperty(row)) {\n                Object.keys(tableEdit[row]).forEach(edit => {\n                    destination[row][edit]=tableEdit[row][edit];\n                });\n            }\n            if (destination[row].hasOwnProperty(\"_children\")) {\n                mergeChildEdits(destination[row]._children);\n            }\n       }\n    });\n}\n\n// deep search for a column including nested columns\nvar searchTabulatorColumn = function (columns,key,match) {\n    var result;\n    for (let column of columns) {\n        if (column.hasOwnProperty(\"columns\")) {\n            result = searchTabulatorColumn(column.columns,key,match);\n            if (result!==undefined) return result;\n        } else if (column.hasOwnProperty(key) && column[key]===match) {\n            return column;\n        }\n    }\n};\n\n// command message to update add or update data on ui-table\nvar msgToTable={};\nmsgToTable.payload={\n    \"command\":msg.tabulatorCommand || \"updateOrAddData\",\n    \"arguments\": [],\n    \"returnPromise\": false\n};\n\n// store data in tableData\nif (msg.hasOwnProperty(tableDataProp)) {\n    // store data for later recover\n    if (!msg.hasOwnProperty(\"topic\")) { // check if index existst\n        status.text=\"msg.topic not defined!\";\n        return [{payload:status},null];\n    }\n    if (!tableData.hasOwnProperty(msg.topic)){ // first seen\n        if (maxRows>0 && Object.keys(tableData).lenght===0) {\n            tableConfig.currentFirstRow=msg.topic;\n        }\n        tableData[msg.topic]={};\n        if (tableEdit && tableEdit.hasOwnProperty(msg.topic)) { // table edits available!\n            Object.keys(tableEdit[msg.topic]).forEach((key) => {\n                msg[tableDataProp][key]=tableEdit[msg.topic][key];\n                tableData[msg.topic][key]=tableEdit[msg.topic][key];\n            })\n        }\n        if (maxStore>0 && typeof msg.topic === \"number\") { // limit rows in tableData\n            let rowKeys = Object.keys(tableData);\n            if (rowKeys.length>maxStore) {\n                for (let i=0; i<(rowKeys.length-maxStore); i++) {\n                    delete tableData[rowKeys[i]];\n                }\n            }\n        }\n    }\n    if (!tableData[msg.topic].hasOwnProperty(tableIndex)) tableData[msg.topic][tableIndex]=msg.topic;\n    msg[tableDataProp]=mergeObject(tableData[msg.topic],msg[tableDataProp],msg.topic);\n    msg[tableDataProp][tableIndex]=msg.topic;\n    msgToTable.payload.arguments=[[msg[tableDataProp]]];\n    // add aditional parameters\n    if (msg.hasOwnProperty(\"tabulatorParameter\") && Array.isArray(msg.tabulatorParameter)) {\n        for (let arg in msg.tabulatorParameter) msgToTable.payload.arguments.push(arg);\n    }\n    // delete rows if rows exceed maxRows\n    /*\n    if (maxRows>0 && tableConfig.hasOwnProperty(\"currentFirstRow\") && typeof tableData[msg.topic][tableIndex]===\"number\") {\n        //node.warn([maxRows,tableConfig.hasOwnProperty(\"currentFirstRow\"),typeof tableData[msg.topic][tableIndex],tableConfig.currentFirstRow,tableData[msg.topic][tableIndex]-maxRows])\n        if (tableConfig.currentFirstRow<tableData[msg.topic][tableIndex]-maxRows) {\n            node.warn([\"maxRowExeeded\",tableConfig.currentFirstRow]);\n            node.send([null,{payload:{\"command\":\"deleteRow\",\"arguments\": [tableConfig.currentFirstRow],\"returnPromise\": false}},null]);\n            tableConfig.currentFirstRow++;\n        }\n    }*/\n    if (maxRows>0 && typeof tableData[msg.topic][tableIndex]===\"number\" && msg.topic-maxRows>0) {\n        node.send([null,{payload:{\"command\":\"deleteRow\",\"arguments\": [msg.topic-maxRows],\"returnPromise\": false}},null]);\n    }\n    status.fill=\"green\";\n    status.text=msg.topic+\" updated\";\n    return [{payload:status},msgToTable,null];\n} if (msg.payload===\"connect\" || (msg.payload===\"change\" && msg.name===dashboard) || (msg.hasOwnProperty(\"payload\") && msg.payload.hasOwnProperty(\"command\"))) { \n    if (!msg.hasOwnProperty(\"ui_control\")) {\n        msg.ui_control = env.get('tabulator');\n        status.text+=\" ui_control added\";\n    }\n    //process commands\n    //node.warn({\"command\":msg.payload.command,\"msg\":msg,\"object\":msg.payload.object})\n    if (msg.payload.hasOwnProperty(\"command\") && msg.payload.command!=='getTable') {\n        status.fill=\"blue\";\n        switch(msg.payload.command) {\n            case 'deleteTable':\n                flow.set(\"$parent.\"+tableContext.tableData.name,undefined,tableContext.tableData.storage);\n                tableData={};\n                status.text=\"tabledata deleted\";\n                node.warn(\"[ui-table handler] \"+\"tabledata deleted\");\n                break;\n            case 'deleteRow':\n            case 'deleteDevice':\n                var deleteRow = function(id) {\n                    // check if row is in root\n                    if (tableData.hasOwnProperty(id)) {\n                        delete tableData[id]\n                        return true;\n                    }\n                    // check if row is a child\n                    let deleteChildRow = function(children, id) {\n                        for(let i = 0; i < children.length; i++){\n                            if (children[i].hasOwnProperty(tableIndex) && children[i][tableIndex]===id) {\n                                children.splice(i, 1); \n                                return true; \n                            }\n                            if (children[i].hasOwnProperty(\"_children\")) {\n                                if (deleteChildRow(children[i]._children,id)) {\n                                    if (children[i]._children.length === 0) {\n                                        delete children[i]._children;\n                                    }\n                                    return true;\n                                }\n                            }\n                        }\n                        return false;\n                    };\n                    \n                    for (let row in tableData) {\n                        if (tableData[row].hasOwnProperty(\"_children\")) {\n                            if (deleteChildRow(tableData[row]._children,id)) return true;\n                        }\n                    }\n                    return false;\n                }\n                \n                if (deleteRow(msg.payload.object)) {\n                    status.text=msg.payload.object+\" deleted\";\n                } else {\n                    status.fill=\"yellow\";\n                    status.text=msg.payload.object+\" undefined\";\n                }\n                break;\n            case 'ignoreRow':\n            case 'ignoreDevice':\n                if (tableData.hasOwnProperty(msg.payload.object)) {\n                    delete tableData[msg.payload.object];\n                    status.text=msg.payload.object+\" will be ignored\";\n                    if (!tableConfig.hasOwnProperty('ignoreDevice')) tableConfig.ignoreDevice={};\n                    tableConfig.ignoreDevice[msg.payload.object]=true;\n                }\n                break;\n            case 'unIgnoreRow':\n            case 'unIgnoreDevice':\n                if (tableConfig.hasOwnProperty('ignoreDevice')) {\n                    delete tableConfig.ignoreDevice[msg.payload.object];\n                }\n                break;\n            case 'unIgnoreRows':\n            case 'unIgnoreDevices':\n                delete tableConfig.ignoreDevice;\n                break;\n            case 'updateData':\n                status.text=\"column \"+msg.payload.column+\" updated\";\n                delete msg.ui_control;\n                return [{payload:status},msg];\n            case 'updateTable':\n                status.text=msg.payload.command+\": \";\n                break;\n            case 'columnHide':\n                if (!tableConfig.hasOwnProperty('columnVisible')) tableConfig.columnVisible={};\n                tableConfig.columnVisible[msg.payload.object]=false;\n                break;\n            case 'columnUnHide':\n                if (!tableConfig.hasOwnProperty('columnVisible')) tableConfig.columnVisible={};\n                tableConfig.columnVisible[msg.payload.object]=true;\n                break;\n            case 'columnsUnHide':\n                for (let column in tableConfig.columnVisible) {\n                    if (tableConfig.columnVisible.hasOwnProperty(column)) tableConfig.columnVisible[column]=true;\n                }\n                break;\n            case 'refreshTable':\n                break;\n            case 'deleteColumnOrder':\n            case 'restoreColumnOrder':\n                delete tableConfig.columns;\n                break;\n            case 'deleteColumnWidth':\n            case 'resetColumnWidth':\n                delete tableConfig.columnWidths;\n                break;\n            case 'setResponsiveLayout':\n                tableConfig.ResponsiveLayout=!tableConfig.ResponsiveLayout;\n                break;\n            case 'deleteRowOrder':\n                delete tableConfig.rowOrder;\n                break;\n            case 'setMaxStore':\n                tableConfig.maxStore=msg.payload.object;\n                maxStore=msg.payload.object;\n                break;\n            case 'setMaxRows':\n                tableConfig.maxRows=msg.payload.object;\n                maxRows=msg.payload.object;\n                break;\n            default:\n                status.fill=\"red\";\n                status.text=\"unknown command \"+msg.payload.command;\n                node.warn(\"[ui-table handler] \"+status.text);\n                break;\n        }\n        flow.set(\"$parent.\"+tableContext.tableConfig.name,tableConfig,tableContext.tableConfig.storage);\n        node.send([{payload:status},null,null]);\n    }\n\n    // crawl through tabulator arrays and updated user defined values\n    var crawlTabulator = function (columns,match,config,property) {\n        for (let column of columns) {\n            if (column.hasOwnProperty(\"columns\")) {\n                crawlTabulator(column.columns,match,config,property);\n            } else if (config.hasOwnProperty(column[match])) column[property]=config[column.field];\n        }\n    };\n    \n    // restore custom column width\n    if (tableConfig.hasOwnProperty(\"columnWidths\") && msg.hasOwnProperty(\"ui_control\")) {\n        crawlTabulator(msg.ui_control.tabulator.columns,\"field\",tableConfig.columnWidths,\"width\");\n    }\n    \n    // restore custom column hide/show\n    if (tableConfig.hasOwnProperty(\"columnVisible\") && msg.hasOwnProperty(\"ui_control\")) {\n        crawlTabulator(msg.ui_control.tabulator.columns,\"field\",tableConfig.columnVisible,\"visible\");\n    }\n    \n    // restore custom responsive / standard view\n    if (tableConfig.hasOwnProperty(\"ResponsiveLayout\")) {\n        if (!tableConfig.ResponsiveLayout) {\n            msg.ui_control.tabulator.responsiveLayout=false;\n        }\n        msg.ui_control.tabulator.columns.forEach((column,index) => {\n            if (column.formatter===\"responsiveCollapse\") { // hide expand column on any position\n                column.visible=tableConfig.ResponsiveLayout;\n                return;\n            }\n        });\n    }\n\n    // sort columns\n    if (tableConfig.hasOwnProperty(\"columns\") && msg.hasOwnProperty(\"ui_control\") && msg.ui_control.hasOwnProperty(\"tabulator\")) {\n        var addedColumns = 0;\n        var sortColumnsByLayout = function (sortColumns, columnsLayout, targetColumns) {\n            for (var layoutColumn=0;  layoutColumn<columnsLayout.length; layoutColumn++) {\n                for (var sortColumn in sortColumns) {\n                    if (sortColumns[sortColumn].hasOwnProperty(\"columns\")) {\n                        targetColumns.push({\"title\":sortColumns[sortColumn].title, \"columns\":[]});\n                        sortColumnsByLayout(sortColumns[sortColumn].columns,columnsLayout,targetColumns[targetColumns.length-1].columns);\n                        layoutColumn=addedColumns; // jump forward after childes added\n                    } else {\n                        if (columnsLayout[layoutColumn].field===sortColumns[sortColumn].field){\n                            targetColumns.push(sortColumns[sortColumn]);\n                            addedColumns++;\n                            break;\n                        }\n                    }\n                }\n            }\n        };                 \n        var newColumns=[];\n        sortColumnsByLayout(msg.ui_control.tabulator.columns,tableConfig.columns,newColumns);\n        msg.ui_control.tabulator.columns=newColumns;\n    }\n\n    // restore stored lines after connect\n\n    let command = msg.payload.command;\n    var tableArray;\n    if (command===\"getTable\") {\n        msg.payload.tableArray=[];\n        tableArray=msg.payload.tableArray\n    } else {\n        msg.payload=[];\n        tableArray=msg.payload;\n    }\n    \n    var pushRowData = function(rowData) {\n        // ignore rows in ignoreRows array\n        if (tableConfig && tableConfig.hasOwnProperty(\"ignoreDevice\") && tableConfig.ignoreDevice[rowData]) {\n            // do nothing\n        } else {\n            // merge edits into table\n            if (tableEdit && tableEdit.hasOwnProperty(rowData)) {\n                let tableRow = RED.util.cloneMessage(tableData[rowData]);\n                Object.keys(tableEdit[rowData]).forEach((field) => {\n                    tableRow[field]=tableEdit[rowData][field];\n                });\n                tableArray.push(tableRow);\n            } else {\n                tableArray.push(tableData[rowData]);\n            }\n        }\n    }\n    \n    if (tableConfig.hasOwnProperty(\"rowOrder\")) {\n        // first check if new rows exits which are not in rowOrder\n        Object.keys(tableData).forEach((key) => {\n            if (tableConfig.rowOrder.indexOf(tableData[key][tableIndex])<0) {\n                tableConfig.rowOrder.push(tableData[key][tableIndex]); // add row to the end of rowOrder\n            }\n        });\n        tableConfig.rowOrder.forEach((value,index) => {\n            node.warn([\"pushRowOrder\",value,tableData.hasOwnProperty(value),tableData[value]]);\n            if (tableData.hasOwnProperty(value)) { // push rows in rowOrder sequence\n                pushRowData(value);\n            } else { // delete not existing rows from rowOrder\n                tableConfig.rowOrder.splice(index,1)\n            }\n       });\n    } else {\n        for (let rowData in tableData) {\n            pushRowData(rowData);\n        }\n    }\n    // store the first index if maxRows limits amount of displayed lines\n    if (maxRows>0 && tableData) {\n        let tableKeys=Object.keys(tableData);\n        if (tableKeys.length>0 && typeof tableData[tableKeys[0]][tableIndex] === \"number\") {\n            tableConfig.currentFirstRow=tableData[tableKeys[0]][tableIndex];\n        }\n    }\n    \n    if (command=='getTable'){\n        status.fill=\"blue\";\n        status.text+=\" \"+tableArray.length+\" rows emitted\";\n        return [{payload:status},null,msg];\n    } else {\n        status.fill=\"blue\";\n        status.text+=\" \"+tableArray.length+\" rows restored\";\n        return [{payload:status},msg,[{topic:\"maxRows\",payload:maxRows},{topic:\"maxStore\",payload:maxStore}]];\n    }\n} if (msg.hasOwnProperty(\"ui_control\")) {\n    // callback from tabulator\n    status.fill=\"blue\";\n    status.text=\"callback \"+msg.ui_control.callback;\n    switch(msg.ui_control.callback) {\n        case \"columnResized\": // save new column width\n            if (tableConfig.columnWidths===undefined) tableConfig.columnWidths={};\n            tableConfig.columnWidths[msg.ui_control.columnWidths.field]=msg.ui_control.columnWidths.width;\n            flow.set(\"$parent.\"+tableContext.tableConfig.name,tableConfig,tableContext.tableConfig.storage);\n            status.text=msg.ui_control.columnWidths.field+\"=\"+msg.ui_control.columnWidths.width+\"px\";\n            break;\n        case \"columnMoved\": // save new column order\n            if (tableConfig.columns===undefined) tableConfig.columns=[];\n            tableConfig.columns=msg.ui_control.columns;\n            flow.set(\"$parent.\"+tableContext.tableConfig.name,tableConfig,tableContext.tableConfig.storage);\n            status.text=\"new column order\";\n            break;\n        case \"cellEdited\":\n            if (tableEdit) {\n                if (!tableEdit.hasOwnProperty(msg[tableIndex])) tableEdit[msg[tableIndex]]={};\n                tableEdit[msg[tableIndex]][msg.field] = msg.payload; // save data and mark as edited field\n                flow.set(\"$parent.\"+tableContext.tableEdit.name,tableEdit,tableContext.tableEdit.storage);\n                mergeEdits(tableData);\n                flow.set(\"$parent.\"+tableContext.tableData.name,tableData,tableContext.tableData.storage);\n                status.text=msg[tableIndex]+\" \"+msg.field+\" edited to \"+msg.payload;\n                msg[tableDataProp]={};\n                msg[tableDataProp][tableIndex]=msg[tableIndex];\n                msg[tableDataProp][msg.field]=msg.payload;\n                msgToTable.payload.arguments=[[msg[tableDataProp]]];\n                node.send([{payload:status},null,msg]); // was node.send([{payload:status},msgToTable,msg]);\n            } else {\n                node.error(\"[ui-table handler] no tableEdit store defined!\")\n            }\n            break;\n        case \"rowContext\":\n            msg.ignoredDevices=[];\n            for (let rowData in tableConfig.ignoreDevice) {\n                if (tableConfig.ignoreDevice.hasOwnProperty(rowData)) {\n                    msg.ignoredDevices.push({\"text\":rowData,\"icon\":\"fa fa-plug\",\"topic\":\"unIgnoreDevice\",\"payload\":rowData})  \n                }\n            }\n            break;\n        case \"headerContext\":\n            msg.hiddenColumns=[];\n            let tabulatorConfig = env.get('tabulator');\n            for (let column in tableConfig.columnVisible) {\n                if (tableConfig.columnVisible.hasOwnProperty(column) &&\n                    !tableConfig.columnVisible[column]) {\n                    let configColumn=searchTabulatorColumn(tabulatorConfig.tabulator.columns,\"field\",column);\n                    let icon;\n                    if (configColumn.hasOwnProperty('title') && configColumn.title.toLowerCase().includes('</i>')) {\n                        // <i class='fa fa-star-half-o'></i> State\n                        let start=configColumn.title.indexOf(\"'fa \");\n                        let end=configColumn.title.indexOf(\"'\",start+1);\n                        icon=configColumn.title.substring(start+4,end);\n                    }\n                    msg.hiddenColumns.push({\"text\":column,\"icon\":icon,\"topic\":\"columnUnHide\",\"payload\":configColumn.field})  \n                }\n            }\n            break;\n        case \"rowMoved\":\n            if (tableConfig.rowOrder===undefined) tableConfig.rowOrder={};\n            tableConfig.rowOrder=msg.ui_control.rowOrder;\n            flow.set(\"$parent.\"+tableContext.tableConfig.name,tableConfig,tableContext.tableConfig.storage);\n            status.text=\"new row order\";\n            break;\n        default:\n            // if rowIndex exists pass complete object\n            if (msg.hasOwnProperty(tableIndex)) {\n                msg.rowData=tableData[msg[tableIndex]];\n            }\n            status.text=\"pass message\";\n    }\n    return [{payload:status},null,msg];\n} \nif (Array.isArray(msg.payload)) {\n    tableData={};\n    \n    msg.payload.forEach((row) => {\n        if (row.hasOwnProperty(tableIndex)) {\n            tableData[row[tableIndex]]=row;\n        }\n    });\n    if (msg.keepEdits) {\n        mergeEdits(tableData);\n    }\n\n    \n    flow.set(\"$parent.\"+tableContext.tableData.name,tableData,tableContext.tableData.storage);\n    if (tableContext.hasOwnProperty(\"tableEdit\") && !msg.keepEdits) {\n        tableEdit={};\n        flow.set(\"$parent.\"+tableContext.tableEdit.name,tableEdit,tableContext.tableEdit.storage);\n    }\n    status.fill=\"blue\"\n    status.text=\"table replaced \"+msg.payload.length+\" rows\";\n    return [{payload:status},msg,null];\n}    \n    \n// nothing to do bejond this point\nstatus.text+=\" [\"+msg.payload+\"]\";\nreturn [{payload:status},null];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":192,"y":85,"wires":[[],[],[]],"icon":"font-awesome/fa-table"},{"id":"9d938971.fb6468","type":"function","z":"9169162a.3666c8","name":"Convert to table array","func":"var el0 = msg.payload; //get element zero of your data\nvar arr = []; //a new array for populating results\n\nfor(let prop in el0) {\n  let val = el0[prop];\n  arr.push({\n    \"Title\": prop,\n    \"Value\": val\n  });\n}\n\nmsg.payload = arr; //set payload\nreturn msg; //return the msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":120,"wires":[["8c63a5cf.0b7948"]]},{"id":"5558bc9d.1ee394","type":"function","z":"9169162a.3666c8","name":"Average values over 30s","func":"var d=msg.payload; //get element zero of your data\nTime= new Date(d.Time.time);\ndate= new Date(d.Time.time).toLocaleDateString();\n\nvar currentTime = Time;\nif (!context.lastTime) {\n    context.arr = Array(); //a new array for populating results\n    context.lastTime = currentTime;\n    context.Timesum=Time;\n    context.Satsum = d.O2.sat;\n    context.Concsum = d.O2.conc;\n    context.Salsum = d.cond.sal;\n    context.CDOMsum = d.C3.CDOM;\n    context.Chlsum = d.C3.chl_a;\n    context.Turbsum = d.C3.turb;\n    context.Tempsum = d.TempIn.Inlet;\n    context.count = 1;\n}\nif (currentTime-context.lastTime >= 29500) {\n    // calculate average for previous messages\n    dispTime=new Date(currentTime-Math.round((currentTime-context.lastTime) / 2));\n    dispTime=dispTime.toUTCString().slice(17,25);\ncontext.arr=({\n     \"Date\": date,\n    \"Time [UTC]\": dispTime,\n    \"Oxygen saturation [%]\": (context.Satsum/context.count).toFixed(4),\n    \"Oxygen conc. [mg/L] \": (context.Concsum/context.count).toFixed(4),\n    \"Salinity [PSU]\": (context.Salsum/context.count).toFixed(4),\n    \"CDOM [ppb]\": (context.CDOMsum/context.count).toFixed(4),\n    \"Chlorophyll [µg/L]\": (context.Chlsum/context.count).toFixed(4),\n    \"Turbidity [NTU]\":(context.Turbsum/context.count).toFixed(4),\n    \"Inlet temperature [°C]\":(context.Tempsum/context.count).toFixed(4)\n    \n  });\n    context.lastTime = currentTime;\n    context.Satsum = d.O2.sat;\n    context.Concsum = d.O2.conc;\n    context.Salsum = d.cond.sal;\n    context.CDOMsum = d.C3.CDOM;\n    context.Chlsum = d.C3.chl_a;\n    context.Turbsum = d.C3.turb;\n    context.Tempsum = d.TempIn.Inlet;\n    context.count = 1;\n} else {\n    context.Satsum += d.O2.sat;\n    context.Concsum += d.O2.conc;\n    context.Salsum += d.cond.sal;\n    context.CDOMsum += d.C3.CDOM;\n    context.Chlsum += d.C3.chl_a;\n    context.Turbsum += d.C3.turb;\n    context.Tempsum += d.TempIn.Inlet;\n    context.count += 1;\n}\n\nmsg.payload = context.arr; //set payload\nreturn msg; //return the msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":60,"wires":[["9d938971.fb6468"]]},{"id":"6e59e5d7.335bcc","type":"join","z":"c8a79714.25d648","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\t","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":100,"wires":[["f746bf8d.4300a"]]},{"id":"f746bf8d.4300a","type":"function","z":"c8a79714.25d648","name":"Divide into objects","func":"var flowbox=[];\nflowbox=msg.payload.split('\\t');\n\n//o2_conc=parseFloat(o2_split[4]);\n//o2_sat=parseFloat(o2_split[6]);\n//o2_temp=parseFloat(o2_split[8]);\nmsg.topic=\"flowbox\";\n\nmsg.payload=({\n    \"flow\" : parseFloat(flowbox[0]),\n    \"temp\" : parseFloat(flowbox[1])\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":180,"wires":[["c7be28c1.b80df8"]]},{"id":"4b1a9d79.046b94","type":"change","z":"9169162a.3666c8","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"flowbox.flow","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":460,"wires":[["68751994.154828"]]},{"id":"68751994.154828","type":"ui_gauge","z":"9169162a.3666c8","name":"","group":"5f363f94.f19e6","order":3,"width":0,"height":0,"gtype":"wave","title":"Water flow [l/min]","label":"","format":"{{msg.payload.flowbox.flow.toFixed(2)}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":460,"wires":[]},{"id":"c6dd2ddb.92c8d","type":"udp out","z":"438a7d9b.5368c4","name":"","addr":"192.168.13.2","iface":"","port":"4004","ipv":"udp4","outport":"56801","base64":false,"multicast":"false","x":420,"y":160,"wires":[]},{"id":"c0f8a19.d18806","type":"inject","z":"438a7d9b.5368c4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"DS\\r\\n\"","payloadType":"json","x":100,"y":160,"wires":[["c6dd2ddb.92c8d","393c8145.8498de"]]},{"id":"c42e9b60.2a1d38","type":"udp in","z":"438a7d9b.5368c4","name":"","iface":"","port":"4004","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":100,"y":80,"wires":[["811f4ed8.34bb1"]]},{"id":"811f4ed8.34bb1","type":"debug","z":"438a7d9b.5368c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":340,"wires":[]},{"id":"c22c9efe.90b68","type":"function","z":"f2a1545.96bd1a8","name":"Structure array every minute","func":"var d=msg.payload; //get element zero of your data\nTime= new Date(d.Time.time);\ndate= new Date().toISOString().slice(0,10).replace(/-/g,'.');\nvar name=global.get(\"name\");\nvar filename=global.get(\"filename\");\nvar filesave=global.get(\"filesave\");\nvar filepath=global.get(\"filepath\");\n\nvar currentTime = Time;\nif (!context.lastTime) {\n    context.arr = Array(); //a new array for populating results\n    context.lastTime = currentTime;\n    context.Timesum=Time;\n    context.Satsum = d.O2.sat;\n    context.Concsum = d.O2.conc;\n    context.Salsum = d.cond.sal;\n    context.CDOMsum = d.C3.CDOM;\n    context.Chlsum = d.C3.chl_a;\n    context.Turbsum = d.C3.turb;\n    context.CDOMcals = d.C3.push.CDOM_cal;\n    context.Chlcals = d.C3.push.chla_cal;\n    context.Turbcals= d.C3.push.turb_cal;\n    context.TempSum = d.TempIn.Inlet;\n    context.Latsum = d.GPS.lat;\n    context.Lonsum = d.GPS.lon;\n    context.pump = d.pump;\n    context.count = 1;\n}\nif (filename==undefined || filesave==undefined){\n        filedate=Time.toISOString().slice(0,16).replace(/-/g,'').replace(/T/g,'').replace(/:/g,'');\n        filename=filepath + name + '_' + filedate + '.csv';    \n        global.set(\"filename\", filename);\n        global.set(\"filesave\", currentTime);\n        msg.reset=true;\n}\n    \nif (currentTime-filesave >= 899500) {\n        filedate=Time.toISOString().slice(0,16).replace(/-/g,'').replace(/T/g,'').replace(/:/g,'');\n        filename=filepath + name + '_' + filedate + '.csv';    \n        global.set(\"filename\", filename);\n        global.set(\"filesave\", currentTime);\n        msg.reset=true;\n}\n\n\nif (currentTime-context.lastTime >= 59500) {\n    // calculate average for previous messages\n    dispTime=new Date(currentTime);\n    dispTime=dispTime.toUTCString().slice(17,25);\n    context.lastTime = currentTime;\n    context.Satsum = d.O2.sat;\n    context.Concsum = d.O2.conc;\n    context.Salsum = d.cond.sal;\n    context.CDOMsum = d.C3.CDOM;\n    context.Chlsum = d.C3.chl_a;\n    context.Turbsum = d.C3.turb;\n    context.CDOMcals = d.C3.push.CDOM_cal;\n    context.Chlcals = d.C3.push.chla_cal;\n    context.Turbcals= d.C3.push.turb_cal;\n    context.TempSum = d.TempIn.Inlet;\n    context.Latsum = d.GPS.lat;\n    context.Lonsum = d.GPS.lon;\n    context.pump = d.pump;\n    context.count = 1;\n\ncontext.arr=({\n     \"Date\": date,\n    \"Time [UTC]\": dispTime,\n    \"Oxygen saturation [%]\": (context.Satsum/context.count).toFixed(4),\n    \"Oxygen conc. [mg/L]\": (context.Concsum/context.count).toFixed(4),\n    \"Salinity [PSU]\": (context.Salsum/context.count).toFixed(4),\n    \"CDOM [ppb]\": (context.CDOMsum/context.count).toFixed(4),\n    \"Chlorophyll [µg/L]\": (context.Chlsum/context.count).toFixed(4),\n    \"Turbidity [NTU]\":(context.Turbsum/context.count).toFixed(4),\n    \"CDOM_cal [ppb]\": (context.CDOMcals/context.count).toFixed(4),\n    \"Chlorophyll_cal [µg/L]\": (context.Chlcals/context.count).toFixed(4),\n    \"Turbidity_cal [NTU]\":(context.Turbcals/context.count).toFixed(4),\n    \"Inlet temperature [°C]\":(context.TempSum/context.count).toFixed(4),\n    \"Latitude\":(context.Latsum/context.count).toFixed(5),\n    \"Longitude\":(context.Lonsum/context.count).toFixed(5),\n    \"Flow [l/min]\":(d.flowbox.flow).toFixed(5),\n    \"Pump status\":context.pump\n});\n\n\n\n\n    msg.payload = context.arr; //set payload\n    msg.filename=global.get(\"filename\")\n    return msg; //return the msg\n} \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":640,"wires":[["e8056928.69bef8","1c6895fd.b3fc8a"]]},{"id":"e940ca50.a6f3e8","type":"switch","z":"f2a1545.96bd1a8","d":true,"name":"","property":"payload.recording","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":850,"y":700,"wires":[[],[]]},{"id":"9c36dc88.50c4d","type":"udp in","z":"438a7d9b.5368c4","name":"","iface":"","port":"4002","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":180,"y":360,"wires":[[]]},{"id":"93546ae4.033918","type":"udp in","z":"438a7d9b.5368c4","name":"","iface":"","port":"56802","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":180,"y":400,"wires":[[]]},{"id":"619fc6ae.342478","type":"inject","z":"438a7d9b.5368c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":540,"wires":[["811f4ed8.34bb1"]]},{"id":"393c8145.8498de","type":"debug","z":"438a7d9b.5368c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":120,"wires":[]},{"id":"3cbed43.b82312c","type":"ui_chart","z":"9169162a.3666c8","name":"","group":"a76242ca.06f4f","order":4,"width":0,"height":0,"label":"Water flow [l/min]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Updating","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#ff9500","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":500,"wires":[[]]},{"id":"ecfcc8d5.c12778","type":"debug","z":"9169162a.3666c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":540,"wires":[]},{"id":"3208cb59.9ce404","type":"change","z":"9169162a.3666c8","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.flowbox.flow","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":349,"y":505,"wires":[["3cbed43.b82312c","ecfcc8d5.c12778"]]},{"id":"4bf5ac91.3763d4","type":"udp in","z":"9169162a.3666c8","name":"","iface":"","port":"56801","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":260,"y":760,"wires":[["6358fdff.e76d74","5fae54bb.4a03bc"]]},{"id":"6358fdff.e76d74","type":"debug","z":"9169162a.3666c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":780,"wires":[]},{"id":"5fae54bb.4a03bc","type":"function","z":"9169162a.3666c8","name":"Otode_split","func":"var temp=[];\ntemp=msg.payload.split(',');\n\npH=parseFloat(temp[12]);\nmsg.payload=pH;\nmsg.topic= \"pH_insitu\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":740,"wires":[["ff452a14.f4cf28","be7508f0.ff7f18"]]},{"id":"ff452a14.f4cf28","type":"ui_chart","z":"9169162a.3666c8","name":"","group":"11dff0cc.b4403f","order":4,"width":0,"height":0,"label":"pH","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Updating","dot":true,"ymin":"6","ymax":"10","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#ff00bb","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":720,"wires":[[]]},{"id":"91fe703e.56bfa","type":"ui_button","z":"9169162a.3666c8","name":"","group":"e7262d73.2bbfd","order":0,"width":0,"height":0,"passthru":false,"label":"Reset pH plot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":270,"y":700,"wires":[["ff452a14.f4cf28"]]},{"id":"1c6895fd.b3fc8a","type":"function","z":"f2a1545.96bd1a8","d":true,"name":"Create filename","func":"var filepath=\"/media/mmcblk0p1/\"\n//save interval, in millioseconds. 15min=900000\nvar saveint=900000;\n// current time \nvar ts = new Date().toISOString();\n//timestamp string for timestamping of data\nvar filename //=global.get('filename');\nvar recording=global.get('recording');\nvar datestartstr=global.get('startdatetime');\nvar dateendstr=global.get('enddatetime');\nvar name=global.get('name');\nvar ready=global.get('ready');\nvar stop_not_required=global.get('stop_not_required');\nvar savetime=flow.get('savetime');\n\n\n\n\n//Checks if deployment has been configured and then creates filename\nif (typeof(savetime) == 'undefined' && ready==true)\n{\n    if (recording==1)\n    {\n        filedate=datestartstr.slice(0,16).replace(/-/g,'').replace(/T/g,'').replace(/:/g,'');\n        filename=filepath + name + '_' + filedate + '.csv';\n        flow.set('savetime',datestartstr);\n        \n\n    }\n    else if (Date.parse(ts)>=Date.parse(datestartstr))\n    {\n        filedate=datestartstr.slice(0,16).replace(/-/g,'').replace(/T/g,'').replace(/:/g,'');\n        filename=filepath + name + '_' + filedate + '.csv';\n        recording=1;\n        global.set (\"recording\",1);\n        flow.set('savetime',datestartstr);\n    }\n    else\n    {\n            recording=2;\n            global.set (\"recording\",2);\n    }\n}\nif (recording==true && ((Date.parse(savetime)+saveint)<=Date.parse(ts)))\n{\n    filedate=ts.slice(0,16).replace(/-/g,'').replace(/T/g,'').replace(/:/g,'');\n    filename=filepath + name + '_' + filedate + '.csv';\n    flow.set('savetime',ts);\n}\nelse \n    {\n    filedate=savetime.slice(0,16).replace(/-/g,'').replace(/T/g,'').replace(/:/g,'');\n    filename=filepath + name + '_' + filedate + '.csv';\n    flow.set('savetime',savetime);\n}\nif (stop_not_required==false)\n{\n    if (Date.parse(dateendstr)<Date.parse(ts))\n    {\n        recording=4;\n    }\n}\nif (ready==false)\n{\n    recording=4;\n}\n\nif (ready==false && typeof filename == 'undefined')\n{\n    recording=3;\n}\n\n\nmsg.topic='filename';\nmsg.filename=filename;\nmsg.payload=({\n    'recording': recording,\n    'filename': filename\n});\n    \n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":800,"wires":[["e940ca50.a6f3e8"]]},{"id":"63e0a996.6d1218","type":"debug","z":"f2a1545.96bd1a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1770,"y":320,"wires":[]},{"id":"be7508f0.ff7f18","type":"ui_text","z":"9169162a.3666c8","group":"5f363f94.f19e6","order":2,"width":0,"height":0,"name":"","label":"pH_insitu","format":"{{msg.payload}}","layout":"row-center","x":670,"y":800,"wires":[]},{"id":"b41d29eb.07cb68","type":"tcp in","z":"9e1ed9f.0562728","name":"","server":"client","host":"10.54.87.132","port":"4001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":380,"wires":[["cf06c563.4da148"]]},{"id":"6f4609bc.805a28","type":"function","z":"9e1ed9f.0562728","name":"GGA","func":"\nvar lat;\nvar lon;\nvar time;\nvar fields;\n\nfields = msg.payload.split(\",\");\ntime = fields[1];\nlat = parseFloat(fields[2].slice(0,2)) + parseFloat(fields[2].slice(2))/60.0;\nlon = parseFloat(fields[4].slice(0,3)) + parseFloat(fields[4].slice(3))/60.0;\n\nif (fields[3] == \"S\"){\n    lat = -lat;\n}\nif (fields[5] == \"W\"){\n    lon = -lon;\n}\n\nmsg.topic=\"GPS\";\nmsg.payload=({\n    \"time\" : time,\n    \"lat\" : lat,\n    \"lon\" : lon,\n});\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":300,"wires":[["dac0c676.36d1c8"]]},{"id":"a0d5899d.4f4838","type":"function","z":"9e1ed9f.0562728","name":"RMC","func":"\n\nvar lat;\nvar lon;\nvar time;\nvar course;\nvar speed;\nvar date;\nvar fields;\n\nfields = msg.payload.split(\",\");\ntime = fields[1];\nlat = parseFloat(fields[3].slice(0,2)) + parseFloat(fields[3].slice(2))/60.0;\nlon = parseFloat(fields[5].slice(0,3)) + parseFloat(fields[5].slice(3))/60.0;\n\nif (fields[4] == \"S\"){\n    lat = -lat;\n}\nif (fields[6] == \"W\"){\n    lon = -lon;\n}\nspeed = parseFloat(fields[7]);\ncourse = parseFloat(fields[8]);\ndate = fields[9];\n\nmsg.topic=\"GPS\";\nmsg.payload=({\n    \"time\" : time,\n    \"lat\" : lat,\n    \"lon\" : lon,\n    \"speed\": speed*1852/3600,\n    \"course\": course,\n    \"date\": date\n});\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":340,"wires":[["dac0c676.36d1c8"]]},{"id":"37373ccb.493914","type":"function","z":"9e1ed9f.0562728","name":"ZDA","func":"\n\nvar time;\nvar date;\nvar fields;\n\nfields = msg.payload.split(\",\");\ntime = fields[1];\ndate = \"\".concat(fields[2],fields[3],fields[4]);\n\nmsg.topic=\"GPS\";\nmsg.payload=({\n    \"time\" : time,\n    \"date\": date\n});\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":380,"wires":[["dac0c676.36d1c8"]]},{"id":"29fe7064.475a9","type":"function","z":"9e1ed9f.0562728","name":"VTG","func":"\n\nvar speed_k;\nvar speed_m;\nvar course;\nvar fields;\n\nfields = msg.payload.split(\",\");\ncourse = parseFloat(fields[1]);\nswitch(fields[6]){\n    case \"N\":\n        speed = parseFloat(fields[5])*1852/3600;\n        break;\n    case \"K\":\n        speed = parseFloat(fields[5])/3.6;    \n        break;\n    default:\n        break;\n}\nswitch(fields[8]){\n    case \"N\":\n        speed = parseFloat(fields[7])*1852/3600;\n        break;\n    case \"K\":\n        speed = parseFloat(fields[7])/3.6;    \n        break;\n    default:\n        break;\n}\n\nmsg.topic=\"GPS\";\nmsg.payload=({\n    \"course\" : course,\n    \"speed\": speed\n});\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":420,"wires":[["dac0c676.36d1c8"]]},{"id":"d6c6aa7e.8fa548","type":"function","z":"9e1ed9f.0562728","name":"GLL","func":"\nvar lat;\nvar lon;\nvar time;\nvar fields;\n\nfields = msg.payload.split(\",\");\ntime = fields[5];\nlat = parseFloat(fields[1].slice(0,2)) + parseFloat(fields[1].slice(2))/60.0;\nlon = parseFloat(fields[3].slice(0,3)) + parseFloat(fields[3].slice(3))/60.0\n\nif (fields[2] == \"S\"){\n    lat = -lat;\n}\nif (fields[4] == \"W\"){\n    lon = -lon;\n}\n\nmsg.topic=\"GPS\";\nmsg.payload=({\n    \"time\" : time,\n    \"lat\" : lat,\n    \"lon\" : lon,\n});\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":460,"wires":[["dac0c676.36d1c8"]]},{"id":"dac0c676.36d1c8","type":"join","z":"9e1ed9f.0562728","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":320,"wires":[["a57408d7.818c68"]]},{"id":"e6477c0f.93ecc","type":"delay","z":"84956c08.c7087","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":360,"y":160,"wires":[["65d1a209.ca4eac"]]},{"id":"65d1a209.ca4eac","type":"function","z":"84956c08.c7087","name":"Inlet temp","func":"tempIn=msg.payload.replace(/(\\r\\n|\\n|\\r)/gm, \"\")\nmsg.payload=({\n    \"Inlet\" : parseFloat(tempIn)\n});\nmsg.topic=\"TempIn\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":541.996452331543,"y":160.70835876464844,"wires":[["9c1e450d.2e2348","38c3ab43.6b2414"]]},{"id":"9e6143c4.a959","type":"link in","z":"f2a1545.96bd1a8","name":"Inlet temp processed","links":["9c1e450d.2e2348"],"x":95,"y":660,"wires":[["7e5f8340.968aac"]]},{"id":"9c1e450d.2e2348","type":"link out","z":"84956c08.c7087","name":"Inlet temp","links":["9e6143c4.a959","ac266cb7.b6b78"],"x":695,"y":160,"wires":[]},{"id":"12a1425e.9f3dde","type":"change","z":"9169162a.3666c8","name":"Splitter","rules":[{"t":"set","p":"payload","pt":"msg","to":"TempIn.Inlet","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Inlet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":100,"wires":[["bbd86bcb.a871a8"]]},{"id":"d2be336e.c094","type":"function","z":"9169162a.3666c8","name":"","func":"\nlat=msg.GPS.lat;\nlon=msg.GPS.lon;\nspeed=msg.GPS.speed;\nheading=msg.GPS.course;\n\nmsg.topic=\"Kong Harald\";\nmsg.payload={\"name\":\"Kong Harald\", \"lat\":lat, \"lon\":lon, \"speed\":speed, \"heading\":heading, \"icon\":\"ship\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":500,"wires":[["25393837.9b67c8"]]},{"id":"778f4932.fa82f8","type":"ui_template","z":"9169162a.3666c8","group":"e13f8815.11d468","name":"window redirect","order":3,"width":0,"height":0,"format":"<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"Map\") {\n          window.open(\"http://127.0.0.1:1880/worldmap/\");\n          //window.location.href = \"http://127.0.0.1:1880/worldmap/\";\n        } \n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":480,"y":620,"wires":[["425113cf.c8e19c"]]},{"id":"a77f5dda.48ead","type":"ui_button","z":"9169162a.3666c8","d":true,"name":"","group":"dfe5fa2b.211718","order":2,"width":"3","height":"1","passthru":false,"label":"Ship location","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Map","payloadType":"str","topic":"","x":90,"y":620,"wires":[["2ab85a5.b546aa6"]]},{"id":"2ab85a5.b546aa6","type":"trigger","z":"9169162a.3666c8","name":"reset msg","op1":"","op2":"empty","op1type":"pay","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":280,"y":600,"wires":[["778f4932.fa82f8"]]},{"id":"425113cf.c8e19c","type":"debug","z":"9169162a.3666c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":620,"wires":[]},{"id":"3d128d76.f6ad72","type":"comment","z":"f2a1545.96bd1a8","name":"PLEASE READ Date storage formats","info":"Date,Time [UTC],Oxygen saturation [%],Oxygen conc. [mg/L],Salinity [PSU],CDOM [ppb],Chlorophyll [µg/L],Turbidity [NTU] to 03.09.2021 14.52 Norway time.\nAfter that:\n\nDate,Time [UTC],Latitude,Longitude,Inlet temperature [°C],Oxygen saturation [%],Oxygen conc. [mg/L],Salinity [PSU],CDOM [ppb],Chlorophyll [µg/L],Turbidity [NTU] \n\nDate fixed to new format+fixed utc offset at 11.15 (OSLOTIME) 05.10.2021","x":790,"y":500,"wires":[]},{"id":"6953a378.1ded0c","type":"function","z":"2b03b22f.4f348e","name":"C3, split into variable and 10s average","func":"var str=msg.payload\nvar res = str.split(/\\s+/);\nvar cal=global.get(\"C3cal\");\n\n//msg.payload=res.slice(1,8);\nC3Chl_a=parseFloat(res[3]);\nC3turb=parseFloat(res[4]);\nC3CDOM=parseFloat(res[5]);\nC3temp=parseFloat(res[7]);\nmsg.topic=\"C3\";\nTime= new Date();\n\nvar currentTime = Time;\nif (!context.lastTime) {\n    context.arr = Array(); //a new array for populating results\n    context.lastTime = currentTime;\n    context.CDOMsum = C3CDOM;\n    context.Chlsum = C3Chl_a;\n    context.Turbsum = C3turb;\n    context.Tempsum = C3temp;\n    context.count = 1;\n}\nif (currentTime-context.lastTime >= 10000) {\n    // calculate average for previous messages\n    context.arr=({\n        \"CDOM\": parseFloat((context.CDOMsum/context.count).toFixed(4)),\n        \"chl_a\": parseFloat((context.Chlsum/context.count).toFixed(4)),\n        \"turb\":parseFloat((context.Turbsum/context.count).toFixed(4)),\n        \"temp\":parseFloat((context.Tempsum/context.count).toFixed(4))\n    });\n    context.arr.push=({\n        \"CDOM_cal\":parseFloat((context.arr.CDOM*cal.cdom[0]+cal.cdom[1]).toFixed(4)),\n        \"chla_cal\":parseFloat((context.arr.chl_a*cal.chla[0]+cal.chla[1]).toFixed(4)),\n        \"turb_cal\":parseFloat((context.arr.turb*cal.turb[0]+cal.turb[1]).toFixed(4))\n      \n    });\n    context.lastTime = currentTime;\n    context.CDOMsum = C3CDOM;\n    context.Chlsum = C3Chl_a;\n    context.Turbsum = C3turb;\n    context.Tempsum = C3temp;\n    context.count = 1;\n    msg.payload = context.arr; //set payload \n    return msg; //return the msg\n} else {\n    context.CDOMsum += C3CDOM;\n    context.Chlsum += C3Chl_a;\n    context.Turbsum += C3turb;\n    context.Tempsum += C3temp;\n    context.count += 1;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":100,"wires":[["d48b1d22.0b3cf","22057411.ca8ccc","cabab135.f9ab7"]]},{"id":"85d7ce7d.8d866","type":"switch","z":"f2a1545.96bd1a8","d":true,"name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"CSV","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1570,"y":480,"wires":[["77e7b551.0b89fc","63e0a996.6d1218","20fc9fa5.9eb5f"]]},{"id":"8d2174cc.c332e8","type":"function","z":"7277229c.a298ec","name":"Otode_split","func":"var o2_temp=[];\no2_split=msg.payload.split('\\t');\no2_raw=o2_split;\no2_conc=parseFloat(o2_split[4]);\no2_sat=parseFloat(o2_split[6]);\no2_temp=parseFloat(o2_split[8]);\nmsg.topic=\"O2\";\nif (o2_conc != o2_conc || o2_sat != o2_sat || o2_temp != o2_temp ) {\n    o2_conc=parseFloat(o2_split[7]);\n    o2_sat=parseFloat(o2_split[1]);\n    o2_temp=parseFloat(o2_split[3]);  \n}\nmsg.payload=({\n    \"conc\" : o2_conc,\n    \"sat\" : o2_sat,\n    \"temp\" : o2_temp\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":80,"wires":[["aa4d0cf6.f876f"]]},{"id":"5095c28d.13faec","type":"function","z":"4d1a4003.dfefd","name":"Cond_split","func":"var cond=[];\ncond_split=msg.payload.split('\\t');\ncond_raw=cond_split;\ncond_cond=parseFloat(cond_split[4]);\ncond_temp=parseFloat(cond_split[6]);\ncond_sal=parseFloat(cond_split[8]);\ncond_dens=parseFloat(cond_split[10]);\ncond_soundsp=parseFloat(cond_split[12]);\nmsg.topic=\"cond\";\n\nif (cond_cond != cond_cond || cond_sal != cond_sal || cond_temp != cond_temp || cond_dens != cond_dens|| cond_soundsp != cond_soundsp) {\ncond_cond=parseFloat(cond_split[7]);\ncond_temp=parseFloat(cond_split[9]);\ncond_sal=parseFloat(cond_split[11]);\ncond_dens=parseFloat(cond_split[1]);\ncond_soundsp=parseFloat(cond_split[3]);\n}\nmsg.payload=({\n    \"cond\" : cond_cond,\n    \"sal\" : cond_sal,\n    \"temp\" : cond_temp,\n    \"dens\" : cond_dens,\n    \"soundsp\" : cond_soundsp,\n});\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":140,"wires":[["574c55f6.5edd2c"]]},{"id":"20fc9fa5.9eb5f","type":"file","z":"f2a1545.96bd1a8","name":"","filename":"/media/mmcblk0p1/log.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1800,"y":520,"wires":[[]]},{"id":"32bdc5d5.0fdbba","type":"ui_switch","z":"ecc3a395.51588","name":"","label":"Rinse is closed","tooltip":"","group":"edd9c259.a62ea","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":40,"wires":[[]]},{"id":"c4cf4127.ec2f4","type":"get-dio-value","z":"ecc3a395.51588","name":"","x":310,"y":120,"wires":[["32bdc5d5.0fdbba"],["e3777112.12476"],[],[],[],["15dd46dc.b35649"],["fb6796a1.6b26c8"],[],[]]},{"id":"af42dab2.b107b8","type":"inject","z":"ecc3a395.51588","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["c4cf4127.ec2f4"]]},{"id":"e3777112.12476","type":"ui_switch","z":"ecc3a395.51588","name":"","label":"Rinse is open","tooltip":"","group":"edd9c259.a62ea","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":100,"wires":[[]]},{"id":"15dd46dc.b35649","type":"ui_switch","z":"ecc3a395.51588","name":"","label":"Pump is ON","tooltip":"","group":"edd9c259.a62ea","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":200,"wires":[[]]},{"id":"fb6796a1.6b26c8","type":"ui_switch","z":"ecc3a395.51588","name":"","label":"Sampler is ON","tooltip":"","group":"edd9c259.a62ea","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":560,"y":260,"wires":[[]]},{"id":"83440d9f.e8c7e","type":"link in","z":"4aee6267.e5bb9c","name":"","links":["26b37c9.d12e684"],"x":215,"y":140,"wires":[["9ba55aed.a59148"]]},{"id":"c97e06b5.d43fd8","type":"file in","z":"7e064ca5.9821e4","name":"","filename":"/home/root/ferrybox/Ports.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":500,"y":160,"wires":[["76769e2a.3da41"]]},{"id":"abd2a4be.7c6348","type":"inject","z":"7e064ca5.9821e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":290,"y":160,"wires":[["c97e06b5.d43fd8"]]},{"id":"76769e2a.3da41","type":"csv","z":"7e064ca5.9821e4","name":"","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":710,"y":160,"wires":[["351aabdf.b0ef54"]]},{"id":"c766c635.bdbe08","type":"link out","z":"7e064ca5.9821e4","name":"Ports","links":["6fe2851d.8930cc","9e929b83.748be8"],"x":1195,"y":160,"wires":[]},{"id":"9e929b83.748be8","type":"link in","z":"4aee6267.e5bb9c","name":"","links":["c766c635.bdbe08"],"x":215,"y":180,"wires":[["5f2e974f.30aed8"]]},{"id":"1c591ecd.7439d1","type":"function","z":"4aee6267.e5bb9c","name":"Check if port","func":"var done=false;\nvar port=\"\";\nvar i = 0;\nvar gps = msg.payload.gps;\nvar ports = msg.payload.ports;\n\nwhile(!done && (i < ports.length)){\n    if((gps.lat > ports[i].Ymin) \n        && (gps.lat < ports[i].Ymax) \n        && (gps.lon > ports[i].Xmin)\n        && (gps.lon < ports[i].Xmax)){\n            done = true;\n            port = ports[i].Port;\n        }\n    i = i+1;\n}\nif(!done && (gps.speed < 0.5)){\n    done = true;\n    port = \"unknown\";\n}\nif(!done){\n    done = false;\n    port = \"underway\"\n}\n\nmsg.payload = {\n    \"inport\": done,\n    \"port\"  : port\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":140,"wires":[["bf981f6e.c3792","90b5d39.34ac83","64e19ffc.02812","6566e7c6.60b938"]]},{"id":"7ea22e0b.fe8bd","type":"join","z":"4aee6267.e5bb9c","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":140,"wires":[["1c591ecd.7439d1"]]},{"id":"980f45a9.947888","type":"ui_switch","z":"4aee6267.e5bb9c","name":"","label":"In Port","tooltip":"","group":"edd9c259.a62ea","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1070,"y":40,"wires":[["2019b0d9.6fa09"]]},{"id":"21347815.003f58","type":"ui_text","z":"4aee6267.e5bb9c","group":"edd9c259.a62ea","order":4,"width":0,"height":0,"name":"","label":"Current Port","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":160,"wires":[]},{"id":"bf981f6e.c3792","type":"link out","z":"4aee6267.e5bb9c","name":"In Port","links":["17ed3d9e.53dee2","41918158.5e54"],"x":875,"y":120,"wires":[]},{"id":"bdc7e65a.c8d798","type":"delay","z":"7e064ca5.9821e4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":240,"wires":[["c766c635.bdbe08","351aabdf.b0ef54"]]},{"id":"351aabdf.b0ef54","type":"delay","z":"7e064ca5.9821e4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":160,"wires":[["bdc7e65a.c8d798"]]},{"id":"9ba55aed.a59148","type":"change","z":"4aee6267.e5bb9c","name":"set gps","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"gps\": msg.payload }\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":140,"wires":[["7ea22e0b.fe8bd"]]},{"id":"5f2e974f.30aed8","type":"change","z":"4aee6267.e5bb9c","name":"set ports","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"ports\": msg.payload }\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":180,"wires":[["7ea22e0b.fe8bd"]]},{"id":"937a2441.356f88","type":"ui_switch","z":"3f9f3370.4a839c","name":"","label":"Take Sample","tooltip":"","group":"2d7f3e8c.8c5b12","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":140,"wires":[["5e4b3bc6.267e34","4509d7c6.894338","93b46f1b.fdc47"]]},{"id":"5e4b3bc6.267e34","type":"set-do-value","z":"3f9f3370.4a839c","name":"","write_ch":"1","write_ch_type":"write_do_1","x":470,"y":140,"wires":[[]]},{"id":"669ce4a5.ff374c","type":"change","z":"3f9f3370.4a839c","name":"NOT","rules":[{"t":"set","p":"payload","pt":"msg","to":"$not(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":260,"wires":[["532b94b8.3fd1dc"]]},{"id":"4509d7c6.894338","type":"switch","z":"3f9f3370.4a839c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":260,"wires":[["669ce4a5.ff374c"],[]]},{"id":"532b94b8.3fd1dc","type":"delay","z":"3f9f3370.4a839c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":260,"wires":[["937a2441.356f88"]]},{"id":"32485113.e2adee","type":"ui_text","z":"4aee6267.e5bb9c","group":"edd9c259.a62ea","order":4,"width":0,"height":0,"name":"","label":"Last Port","format":"{{msg.payload}}","layout":"row-spread","x":1260,"y":240,"wires":[]},{"id":"90b5d39.34ac83","type":"change","z":"4aee6267.e5bb9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.inport","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":40,"wires":[["980f45a9.947888"]]},{"id":"64e19ffc.02812","type":"change","z":"4aee6267.e5bb9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.port","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":160,"wires":[["21347815.003f58"]]},{"id":"566e24c5.8d409c","type":"traffic","z":"4aee6267.e5bb9c","name":"","property_allow":"inport","filter_allow":"true","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"inport","filter_stop":"false","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1090,"y":240,"wires":[["32485113.e2adee"]]},{"id":"6566e7c6.60b938","type":"change","z":"4aee6267.e5bb9c","name":"","rules":[{"t":"set","p":"inport","pt":"msg","to":"\t$string(payload.inport)\t\t","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.port","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":240,"wires":[["566e24c5.8d409c"]]},{"id":"8210425.cd00ec","type":"inject","z":"c8a79714.25d648","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":200,"wires":[["3d1fb0ea.5cef1"]]},{"id":"9eed4b13.328138","type":"comment","z":"9e1ed9f.0562728","name":"Warning - check if every 5 messages are sent by GPS","info":"","x":880,"y":280,"wires":[]},{"id":"176e17c5.246d98","type":"comment","z":"2b03b22f.4f348e","name":"Fiks C3 kalibrert","info":"","x":470,"y":60,"wires":[]},{"id":"29fae31f.8fd55c","type":"inject","z":"2b03b22f.4f348e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":220,"wires":[["a39e7aa1.f57498"]]},{"id":"a39e7aa1.f57498","type":"change","z":"2b03b22f.4f348e","name":"","rules":[{"t":"set","p":"C3cal","pt":"global","to":"{\"chla\": [0.0083, -0.5516],\t\"cdom\": [0.0344, -0.4555],\t\"turb\": [0.0612, -0.6739]\t}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"C3cal","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[[]]},{"id":"1bc669c5.1c02d6","type":"comment","z":"4d1a4003.dfefd","name":"NB: Cond. sends two messaged, please read","info":"Cond. sends two messages, that will sometimes swap order. The function node will try to check which one is sent first, then assign the right names for the right variables.","x":460,"y":80,"wires":[]},{"id":"509792b1.f0c56c","type":"comment","z":"7277229c.a298ec","name":"NB: Optode. sends two messaged, please read","info":"Optode sends two messages, that will sometimes swap order. The function node will try to check which one is sent first, then assign the right names for the right variables.","x":460,"y":40,"wires":[]},{"id":"3bce9f06.7d05c","type":"function","z":"7b3c5208.216cec","name":"Salinity to PFBOX","func":"sal=msg.payload.sal\nmsg.payload=`$PFBOX,SAL,${ sal.toFixed(4) },*`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":100,"wires":[["d6b094a2.9a0968","322a3725.e6d058","6f75dfaf.0dd02"]]},{"id":"32a2fa05.7ca096","type":"function","z":"7b3c5208.216cec","name":"Temperature to PFBOX","func":"temp=msg.payload.Inlet\nmsg.payload=`$PFBOX,TEMP,${ temp.toFixed(4) },*`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":140,"wires":[["5a6f6f16.1f38f","322a3725.e6d058","6f75dfaf.0dd02"]]},{"id":"f88d9be3.cb6718","type":"function","z":"7b3c5208.216cec","name":"Time to PFBOX","func":"var time=new Date().toISOString();\nmsg.payload=`$PFBOX,TIME,${ time.slice(0,-7) + Math.floor(time.slice(-7,-1)) },*`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["322a3725.e6d058","6f75dfaf.0dd02"]]},{"id":"1c09f98.dd76107","type":"function","z":"7b3c5208.216cec","name":"Pump to PFBOX","func":"pump=msg.payload;\nmsg.payload=`$PFBOX,PUMP,${ pump },*`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["322a3725.e6d058","6f75dfaf.0dd02","5a0f8e60.2ebe9"]]},{"id":"ac266cb7.b6b78","type":"link in","z":"7b3c5208.216cec","name":"Inlet temp processed","links":["9c1e450d.2e2348"],"x":155,"y":140,"wires":[["32a2fa05.7ca096"]]},{"id":"b6fca797.6986b8","type":"link in","z":"7b3c5208.216cec","name":"CondProcessed","links":["574c55f6.5edd2c"],"x":155,"y":100,"wires":[["3bce9f06.7d05c"]]},{"id":"35997864.ae1808","type":"inject","z":"7b3c5208.216cec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["f88d9be3.cb6718"]]},{"id":"22057411.ca8ccc","type":"trigger","z":"2b03b22f.4f348e","name":"","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"30","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":160,"wires":[["3203d00d.5ca97"]]},{"id":"cabab135.f9ab7","type":"debug","z":"2b03b22f.4f348e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":280,"wires":[]},{"id":"3203d00d.5ca97","type":"change","z":"2b03b22f.4f348e","name":"Send if no input is received","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"CDOM\":-999,\"chl_a\":-999,\"turb\":-999,\"temp\":-999,\"push\":{\"CDOM_cal\":-999,\"chla_cal\":-999,\"turb_cal\":-999}}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"C3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[["d48b1d22.0b3cf"]]},{"id":"38c3ab43.6b2414","type":"trigger","z":"84956c08.c7087","name":"","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"30","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":330,"y":220,"wires":[["18f0c0d9.4ce14f"]]},{"id":"18f0c0d9.4ce14f","type":"change","z":"84956c08.c7087","name":"Send if no input is received","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"Inlet\":-999}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"TempIn","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["9c1e450d.2e2348"]]},{"id":"e4b2a996.35d5a8","type":"change","z":"4d1a4003.dfefd","name":"Send if no input is received","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"cond\":-999,\"sal\":-999,\"temp\":-999,\"dens\":-999,\"soundsp\":-999}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"cond","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["574c55f6.5edd2c"]]},{"id":"4c8001d0.e73ab","type":"change","z":"7277229c.a298ec","name":"Send if no input is received","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"conc\":-999,\"sat\":-999,\"temp\":-999}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"O2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":180,"wires":[["aa4d0cf6.f876f"]]},{"id":"31014689.6012ea","type":"trigger","z":"9e1ed9f.0562728","name":"","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"30","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":870,"y":420,"wires":[["ada7e538.fdfeb8"]]},{"id":"ada7e538.fdfeb8","type":"change","z":"9e1ed9f.0562728","name":"Send if no input is received","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"time\":-999,\"lat\":-999,\"lon\":-999,\"date\":-999,\"course\":-999,\"speed\":-999}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"GPS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":420,"wires":[["26b37c9.d12e684"]]},{"id":"e0154b77.679ed8","type":"switch","z":"7577d9ac.f07098","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":160,"wires":[["91e575c6.e1cc78","c66b716f.70829"],[]]},{"id":"91e575c6.e1cc78","type":"set-do-value","z":"7577d9ac.f07098","name":"Enable Rinse","write_ch":"2","write_ch_type":"write_do_1","x":330,"y":200,"wires":[["a2629118.cab9a"]]},{"id":"c66b716f.70829","type":"delay","z":"7577d9ac.f07098","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":360,"wires":[["d91e9f26.ad85e"]]},{"id":"e83f797f.7a6cc8","type":"ui_switch","z":"7577d9ac.f07098","name":"","label":"Rinse now","tooltip":"","group":"2d7f3e8c.8c5b12","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":160,"wires":[["e0154b77.679ed8"]]},{"id":"a2629118.cab9a","type":"set-do-value","z":"7577d9ac.f07098","name":"Start Rinse","write_ch":"3","write_ch_type":"write_do_1","x":330,"y":240,"wires":[["fd01cf1e.1fef9"]]},{"id":"d91e9f26.ad85e","type":"change","z":"7577d9ac.f07098","name":"NOT","rules":[{"t":"set","p":"payload","pt":"msg","to":"$not(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":360,"wires":[["6c585cc0.0b0af4"]]},{"id":"ab1111a1.2f331","type":"set-do-value","z":"7577d9ac.f07098","name":"Disable Rinse","write_ch":"2","write_ch_type":"write_do_1","x":720,"y":560,"wires":[["e83f797f.7a6cc8"]]},{"id":"fd01cf1e.1fef9","type":"get-dio-value","z":"7577d9ac.f07098","name":"","x":610,"y":140,"wires":[[],["f4c2ab6d.bdee78"],[],[],[],[],[],[],[]]},{"id":"6c585cc0.0b0af4","type":"set-do-value","z":"7577d9ac.f07098","name":"Stop Pump","write_ch":"0","write_ch_type":"write_do_1","x":970,"y":360,"wires":[["8e2ebdc7.e8f78"]]},{"id":"2e438e43.4f88c2","type":"change","z":"7577d9ac.f07098","name":"NOT","rules":[{"t":"set","p":"payload","pt":"msg","to":"$not(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":460,"wires":[["ab1111a1.2f331"]]},{"id":"f4c2ab6d.bdee78","type":"switch","z":"7577d9ac.f07098","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":220,"wires":[["8c346e73.59b7a"],["529ab710.e563c8"]]},{"id":"529ab710.e563c8","type":"delay","z":"7577d9ac.f07098","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":280,"wires":[["fd01cf1e.1fef9"]]},{"id":"3f0faf33.70b13","type":"change","z":"7577d9ac.f07098","name":"NOT","rules":[{"t":"set","p":"payload","pt":"msg","to":"$not(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":320,"wires":[["6c585cc0.0b0af4"]]},{"id":"8e2ebdc7.e8f78","type":"set-do-value","z":"7577d9ac.f07098","name":"Stop Rinse","write_ch":"3","write_ch_type":"write_do_1","x":970,"y":400,"wires":[["8301c7dd.554148"]]},{"id":"3b687f15.57022","type":"switch","z":"7577d9ac.f07098","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":340,"wires":[["2e438e43.4f88c2"],["42913a42.505334"]]},{"id":"8c346e73.59b7a","type":"change","z":"7577d9ac.f07098","name":"NOT","rules":[{"t":"set","p":"payload","pt":"msg","to":"$not(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":80,"wires":[["abcbf8d5.0aff28"]]},{"id":"e159beac.2a8ec","type":"delay","z":"7577d9ac.f07098","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":280,"wires":[["3f0faf33.70b13"]]},{"id":"8301c7dd.554148","type":"get-dio-value","z":"7577d9ac.f07098","name":"","x":1190,"y":400,"wires":[["3b687f15.57022"],[],[],[],[],[],[],[],[]]},{"id":"42913a42.505334","type":"delay","z":"7577d9ac.f07098","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":200,"wires":[["8301c7dd.554148"]]},{"id":"abcbf8d5.0aff28","type":"set-do-value","z":"7577d9ac.f07098","name":"Stop Pump","write_ch":"0","write_ch_type":"write_do_1","x":970,"y":120,"wires":[["d0cae523.9903f8"]]},{"id":"eab5da07.f42248","type":"set-do-value","z":"7577d9ac.f07098","name":"Start Pump","write_ch":"0","write_ch_type":"write_do_1","x":970,"y":240,"wires":[["e159beac.2a8ec"]]},{"id":"d0cae523.9903f8","type":"delay","z":"7577d9ac.f07098","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":160,"wires":[["2d2bbe2f.7c0c42"]]},{"id":"2d2bbe2f.7c0c42","type":"change","z":"7577d9ac.f07098","name":"NOT","rules":[{"t":"set","p":"payload","pt":"msg","to":"$not(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":200,"wires":[["eab5da07.f42248"]]},{"id":"6238d3ae.34b54c","type":"traffic","z":"6093ed53.dcb644","name":"","property_allow":"block","filter_allow":"no","ignore_case_allow":false,"negate_allow":false,"send_allow":true,"property_stop":"block","filter_stop":"yes","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":850,"y":160,"wires":[["2efe23d0.20406c"]]},{"id":"ab610bac.3e7158","type":"function","z":"6093ed53.dcb644","name":"","func":"var block = \"yes\";\nvar pump  = false;\n\nif(msg.payload.auto){\n    block = \"no\";\n}\nif(msg.payload.auto & !msg.payload.inport){\n    pump = true;\n}\n\nmsg = { \n    \"payload\": pump,\n    \"block\"  : block\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":160,"wires":[["6238d3ae.34b54c","bf33c817.498708"]]},{"id":"2efe23d0.20406c","type":"ui_switch","z":"6093ed53.dcb644","name":"","label":"Pump","tooltip":"","group":"2d7f3e8c.8c5b12","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1010,"y":160,"wires":[["463f7d52.c5f3f4"]]},{"id":"c1c73088.eeed2","type":"join","z":"6093ed53.dcb644","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":160,"wires":[["ab610bac.3e7158"]]},{"id":"463f7d52.c5f3f4","type":"set-do-value","z":"6093ed53.dcb644","name":"","write_ch":0,"write_ch_type":"write_do_1","x":1170,"y":160,"wires":[[]]},{"id":"675cefc1.e266f","type":"change","z":"6093ed53.dcb644","name":"set inport topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"inport","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload.inport","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":100,"wires":[["c1c73088.eeed2"]]},{"id":"8d02e959.35d3d8","type":"change","z":"6093ed53.dcb644","name":"set auto topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[["c1c73088.eeed2"]]},{"id":"41918158.5e54","type":"link in","z":"6093ed53.dcb644","name":"","links":["bf981f6e.c3792"],"x":215,"y":100,"wires":[["675cefc1.e266f"]]},{"id":"f584b272.39f39","type":"ui_switch","z":"6093ed53.dcb644","name":"","label":"Automatic Pump","tooltip":"","group":"2d7f3e8c.8c5b12","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":160,"wires":[["8d02e959.35d3d8"]]},{"id":"25dc7524.6c5bea","type":"inject","z":"6093ed53.dcb644","name":"","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["f584b272.39f39"]]},{"id":"b195363d.4042f8","type":"link out","z":"6093ed53.dcb644","name":"Pump status","links":["c9b812d5.56f35","d7cd75f3.ee4518"],"x":975,"y":300,"wires":[]},{"id":"c9b812d5.56f35","type":"link in","z":"f2a1545.96bd1a8","name":"Pump status","links":["b195363d.4042f8"],"x":135,"y":860,"wires":[["7e5f8340.968aac"]]},{"id":"bf33c817.498708","type":"change","z":"6093ed53.dcb644","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pump","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":240,"wires":[["b307a9a9.1b3c38"]]},{"id":"b307a9a9.1b3c38","type":"change","z":"6093ed53.dcb644","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":280,"wires":[["b195363d.4042f8"]]},{"id":"762aa1.6bf8456","type":"comment","z":"6093ed53.dcb644","name":"Sends pumps status to file","info":"","x":910,"y":240,"wires":[]},{"id":"ae9aa880.a6f2e8","type":"function","z":"3f9f3370.4a839c","name":"GPS autosampler","func":"var d=msg.payload;\nvar station_list=global.get(\"station_list\");\nvar station_progress=global.get(\"station_progress\")\nvar msg1 = {payload: \"payload_value\", topic: \"CSV\"}\nvar ship_lat=d.GPS.lat;\nvar ship_lon=d.GPS.lon;\n\nvar Time= new Date(d.Time.time).toUTCString().slice(17,25);\nvar date= new Date().toISOString().slice(0,10).replace(/-/g,'.');\n\nif (station_progress!=undefined){\n    len =station_progress.length;\n    \n    if (len>0){\n        for (let i=0; i<len; i++){\n            if (ship_lon>station_progress[i].LON_MIN && ship_lon<station_progress[i].LON_MAX && ship_lat>station_progress[i].LAT_MIN && ship_lat<station_progress[i].LAT_MAX){\n                msg.payload=true;\n                station=station_progress[i].COMMENTS\n                station_progress.splice(i,1);\n                global.set(\"station_progress\", station_progress);\n                \n                    msg1.payload=({\n                    \"Date\" : date,    \n                    \"Time\": Time,\n                    \"Lat\" : ship_lat.toFixed(4),\n                    \"Lon\" : ship_lon.toFixed(4),\n                    \"Temp\": d.TempIn.Inlet,\n                    \"O2_sat\": d.O2.sat.toFixed(4),\n                    \"O2_conc\": d.O2.conc.toFixed(4),\n                    \"Sal\": d.cond.sal.toFixed(4),\n                    \"CDOM\": d.C3.CDOM.toFixed(4),\n                    \"Chl_a\": d.C3.chl_a.toFixed(4),\n                    \"Turb\": d.C3.turb.toFixed(4),\n                    \"CDOM_cal\": d.C3.push.CDOM_cal.toFixed(4),\n                    \"Chl_a_cal\": d.C3.push.chla_cal.toFixed(4),\n                    \"Turb_cal\": d.C3.push.turb_cal.toFixed(4),\n                    \"Flow\": d.flowbox.flow.toFixed(4),\n                    \"Station\": station \n                    });\n                    \n                return [msg, msg1];\n            }\n            else{ \n                msg.payload=false;\n            }\n        \n        }\n        \n        \n    sampled = station_list.filter(({ \"STATION_NAME\": id1 }) => !station_progress.some(({ \"STATION_NAME\": id2 }) => id2 === id1));\n    msg.sampled=sampled.map(({ COMMENTS }) => COMMENTS);\n    msg.remaining=station_progress.map(({ COMMENTS }) => COMMENTS);\n    \n    return [msg, null] \n    \n    } \n    if (len==0){\n        sampled = station_list.filter(({ \"STATION_NAME\": id1 }) => !station_progress.some(({ \"STATION_NAME\": id2 }) => id2 === id1));\n        msg.sampled=sampled.map(({ COMMENTS }) => COMMENTS);\n        msg.remaining=station_progress.map(({ COMMENTS }) => COMMENTS);\n        \n        return [msg, null] \n    }\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":210,"y":20,"wires":[["e7e618ee.2f68c8","8e61c9e8.ffb928","937a2441.356f88"],["d092bd72.a5fbd"]]},{"id":"7bf3710d.898f9","type":"ui_template","z":"3f9f3370.4a839c","group":"690f3ce4.79dd24","name":"Upload","order":1,"width":"6","height":"3","format":"<form id=\"upload_form\" enctype=\"multipart/form-data\" method=\"post\">\n    <input type=\"file\" name=\"file1\" id=\"file1\"><br>\n    <input type=\"button\" value=\"Upload File\" onclick=\"uploadFile()\">\n    <progress id=\"progressBar\" value=\"0\" max=\"100\" style=\"width:300px;\"></progress>\n    <p id=\"status\"></p>\n    <p id=\"loaded_n_total\"></p>\n</form>\n\n<script>\n    function _(el){\n    return document.getElementById(el);\n}\nfunction uploadFile(){\n    var file = _(\"file1\").files[0];\n    // alert(file.name+\" | \"+file.size+\" | \"+file.type);\n    var formdata = new FormData();\n    formdata.append(\"file1\", file);\n    var ajax = new XMLHttpRequest();\n    ajax.upload.addEventListener(\"progress\", progressHandler, false);\n    ajax.addEventListener(\"load\", completeHandler, false);\n    ajax.addEventListener(\"error\", errorHandler, false);\n    ajax.addEventListener(\"abort\", abortHandler, false);\n    ajax.open(\"POST\", \"/fileupload\");\n    ajax.send(formdata);\n}\nfunction progressHandler(event){\n    _(\"loaded_n_total\").innerHTML = \"Uploaded \"+event.loaded+\" bytes of \"+event.total;\n    var percent = (event.loaded / event.total) * 100;\n    _(\"progressBar\").value = Math.round(percent);\n    _(\"status\").innerHTML = Math.round(percent)+\"% uploaded... please wait\";\n}\nfunction completeHandler(event){\n    _(\"status\").innerHTML = event.target.responseText;\n    _(\"progressBar\").value = 0;\n}\nfunction errorHandler(event){\n    _(\"status\").innerHTML = \"Upload Failed\";\n}\nfunction abortHandler(event){\n    _(\"status\").innerHTML = \"Upload Aborted\";\n}\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":180,"y":360,"wires":[[]]},{"id":"11c8e717.68a539","type":"http in","z":"3f9f3370.4a839c","name":"","url":"/fileupload","method":"post","upload":true,"swaggerDoc":"","x":140,"y":400,"wires":[["7d23f959.8e2308"]]},{"id":"30dd870b.a5a408","type":"csv","z":"3f9f3370.4a839c","name":"","sep":"\\t","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":470,"y":400,"wires":[["b6d0512f.d3731"]]},{"id":"b6d0512f.d3731","type":"change","z":"3f9f3370.4a839c","name":"","rules":[{"t":"set","p":"station_list","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":400,"wires":[[]]},{"id":"6a943dd9.c8bd64","type":"ui_button","z":"3f9f3370.4a839c","name":"","group":"690f3ce4.79dd24","order":1,"width":0,"height":0,"passthru":false,"label":"Start/reset autosampling","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","x":250,"y":460,"wires":[["142abf91.c94ff"]]},{"id":"142abf91.c94ff","type":"change","z":"3f9f3370.4a839c","name":"","rules":[{"t":"set","p":"station_progress","pt":"global","to":"station_list","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":460,"wires":[[]]},{"id":"c648a275.e840f","type":"ui_button","z":"3f9f3370.4a839c","name":"","group":"690f3ce4.79dd24","order":1,"width":0,"height":0,"passthru":false,"label":"Stop autosampling","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","x":230,"y":500,"wires":[["89ca1cf8.af76d"]]},{"id":"89ca1cf8.af76d","type":"change","z":"3f9f3370.4a839c","name":"","rules":[{"t":"set","p":"station_progress","pt":"global","to":"{}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":500,"wires":[[]]},{"id":"7d23f959.8e2308","type":"function","z":"3f9f3370.4a839c","name":"toBase64","func":"msg.name = msg.req.files[0].originalname;\nmsg.payload = msg.req.files[0].buffer.toString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":400,"wires":[["30dd870b.a5a408"]]},{"id":"d7cd75f3.ee4518","type":"link in","z":"7b3c5208.216cec","name":"Pump status","links":["b195363d.4042f8"],"x":155,"y":220,"wires":[["1c09f98.dd76107"]]},{"id":"1482afd8.e9b7e","type":"function","z":"9169162a.3666c8","name":"Sample stations","func":"var station_list=global.get(\"station_list\");\n\nif (station_list!=undefined){\n        len =station_list.length;\n        arr=Array();\n        for (let i=0; i<len; i++){\n            arr[i] = {\"name\": station_list[i].COMMENTS, \"area\": [ [station_list[i].LAT_MIN, station_list[i].LON_MIN], [station_list[i].LAT_MAX, station_list[i].LON_MAX] ],\"clickable\": true}\n            \n        }\n        msg.payload=arr\n        return msg\n    \n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":580,"wires":[["456d10d0.f1fc5","25393837.9b67c8"]]},{"id":"bdc9994f.4ebb98","type":"inject","z":"9169162a.3666c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":70,"y":520,"wires":[["1482afd8.e9b7e"]]},{"id":"456d10d0.f1fc5","type":"debug","z":"9169162a.3666c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":720,"wires":[]},{"id":"e7e618ee.2f68c8","type":"change","z":"3f9f3370.4a839c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sampled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":60,"wires":[["e7db4e98.0b9bf"]]},{"id":"8e61c9e8.ffb928","type":"change","z":"3f9f3370.4a839c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"remaining","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":20,"wires":[["6bc36992.8c5328"]]},{"id":"e7db4e98.0b9bf","type":"ui_list","z":"3f9f3370.4a839c","group":"6f3ff8f2.4aa468","name":"Sampled stations","order":4,"width":0,"height":0,"lineType":"one","actionType":"none","allowHTML":false,"outputs":0,"topic":"Sampled stations","x":790,"y":60,"wires":[]},{"id":"6bc36992.8c5328","type":"ui_list","z":"3f9f3370.4a839c","group":"5df2da97.3bea24","name":"Remaining stations","order":4,"width":0,"height":0,"lineType":"one","actionType":"none","allowHTML":false,"outputs":0,"topic":"Remaining stations","x":750,"y":20,"wires":[]},{"id":"316f6711.6a8558","type":"link out","z":"f2a1545.96bd1a8","name":"Water sample logger","links":["84b1ad7e.68607"],"x":605,"y":940,"wires":[]},{"id":"84b1ad7e.68607","type":"link in","z":"3f9f3370.4a839c","name":"Water sample logger ","links":["316f6711.6a8558"],"x":55,"y":260,"wires":[["eee32efb.28e22","ae9aa880.a6f2e8"]]},{"id":"eee32efb.28e22","type":"debug","z":"3f9f3370.4a839c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":340,"wires":[]},{"id":"d092bd72.a5fbd","type":"csv","z":"3f9f3370.4a839c","name":"","sep":",","hdrin":"","hdrout":"once","multi":"one","ret":"\\n","temp":"Date,Time,Lat ,Lon,Temp,O2_sat,O2_conc,Sal,CDOM,Chl_a,Turb,CDOM_cal,Chl_a_cal,Turb_cal,Flow,Station","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":590,"y":100,"wires":[["6ba91c7e.88b944"]]},{"id":"6ba91c7e.88b944","type":"file","z":"3f9f3370.4a839c","name":"","filename":"/media/mmcblk0p1/stationLog.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":800,"y":100,"wires":[[]]},{"id":"ba1670eb.47417","type":"inject","z":"f2a1545.96bd1a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":230,"y":280,"wires":[["b003d8ca.405bd8"]]},{"id":"b003d8ca.405bd8","type":"change","z":"f2a1545.96bd1a8","name":"","rules":[{"t":"set","p":"name","pt":"global","to":"KH2","tot":"str"},{"t":"set","p":"filepath","pt":"global","to":"/media/mmcblk0p1/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":280,"wires":[[]]},{"id":"967fd67a.479648","type":"comment","z":"f2a1545.96bd1a8","name":"Set the filename","info":"","x":350,"y":240,"wires":[]},{"id":"1f6eb632.2a145a","type":"file","z":"3f9f3370.4a839c","name":"","filename":"/media/mmcblk0p1/manualSampleTrigger.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1130,"y":340,"wires":[[]]},{"id":"8116855a.a5b2a8","type":"change","z":"3f9f3370.4a839c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().tz(\"UTC\").format(\"YYYY-MM-DD HH:mm:ss\") & \t\",\" &\tpayload & \"\\n\"\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":340,"wires":[["1f6eb632.2a145a"]]},{"id":"772156ac.602c08","type":"inject","z":"f2a1545.96bd1a8","d":true,"name":"","props":[{"p":"payload"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":650,"y":840,"wires":[["a3583f7b.4ca6e"]]},{"id":"a3583f7b.4ca6e","type":"change","z":"f2a1545.96bd1a8","name":"","rules":[{"t":"set","p":"filename","pt":"global","to":"$globalContext(\"filepath\") & $globalContext(\"name\") & \"_\"& $moment().tz(\"UTC\").format(\"YYYYMMDDHHmm\") & \".csv\"\t\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"filename","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":840,"wires":[["8a9d76f6.79ffd8"]]},{"id":"8a9d76f6.79ffd8","type":"debug","z":"f2a1545.96bd1a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":880,"wires":[]},{"id":"98261154.3006","type":"http response","z":"9169162a.3666c8","name":"","statusCode":"","headers":{},"x":630,"y":2140,"wires":[]},{"id":"34dc99e5.495466","type":"file in","z":"9169162a.3666c8","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":470,"y":2080,"wires":[["98261154.3006"]]},{"id":"38d65d59.1d8aa2","type":"catch","z":"9169162a.3666c8","name":"","scope":null,"uncaught":false,"x":100,"y":2180,"wires":[["3b8014a.86ad8ec","5b18a8e7.fb8da8"]]},{"id":"3b8014a.86ad8ec","type":"function","z":"9169162a.3666c8","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":2180,"wires":[["98261154.3006"]]},{"id":"5b18a8e7.fb8da8","type":"debug","z":"9169162a.3666c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":2220,"wires":[]},{"id":"a8c2985e.d23ad8","type":"ui_template","z":"9169162a.3666c8","group":"6cbd27d1.772df8","name":"ui_temlplate - present download links on dashboard","order":0,"width":0,"height":0,"format":"<a href=\"/files/stationLog.csv\"><md-button>Download station log</button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":450,"y":2240,"wires":[[]]},{"id":"5de7cbb4.fa21a4","type":"comment","z":"9169162a.3666c8","name":"Create http endpoint <nodered>/files/xxx  where xxx is the file name to download","info":"","x":320,"y":2040,"wires":[]},{"id":"67ecfa7f.3f0e24","type":"http in","z":"9169162a.3666c8","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":110,"y":2100,"wires":[["f31a598d.9fd2c8"]]},{"id":"f31a598d.9fd2c8","type":"function","z":"9169162a.3666c8","name":"Set base path","func":"//restrict to c:\\temp\\\nvar basePath = \"/media/mmcblk0p1/\";\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":280,"y":2100,"wires":[["34dc99e5.495466"],["98261154.3006"]]},{"id":"651c0f0c.1b404","type":"ui_template","z":"9169162a.3666c8","group":"6cbd27d1.772df8","name":"ui_temlplate - present download links on dashboard","order":0,"width":0,"height":0,"format":"<a href=\"/files/log.csv\"><md-button>Download data log</button>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":450,"y":2280,"wires":[[]]},{"id":"d6b094a2.9a0968","type":"debug","z":"7b3c5208.216cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":60,"wires":[]},{"id":"5a6f6f16.1f38f","type":"debug","z":"7b3c5208.216cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":120,"wires":[]},{"id":"cc9f74cb.5c2a88","type":"link in","z":"7b3c5208.216cec","name":"","links":["26b37c9.d12e684"],"x":155,"y":280,"wires":[["17faf23b.22a78e"]]},{"id":"3e65cb8b.c7cbe4","type":"debug","z":"7b3c5208.216cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":340,"wires":[]},{"id":"17faf23b.22a78e","type":"function","z":"7b3c5208.216cec","name":"GPS to PFBOX","func":"gps=msg.payload\nvar msg1 = {payload: \"payload_value\", topic: \"lon\"}\nmsg.payload=`$PFBOX,LAT,${ gps.lat.toFixed(4) },*`\nmsg1.payload=`$PFBOX,LON,${ gps.lon.toFixed(4) },*`\n\nreturn [msg, msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":340,"y":300,"wires":[["3e65cb8b.c7cbe4","322a3725.e6d058","6f75dfaf.0dd02"],["3e65cb8b.c7cbe4","322a3725.e6d058","6f75dfaf.0dd02"]]},{"id":"931b3be1.c35c98","type":"rbe","z":"4aee6267.e5bb9c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":540,"y":420,"wires":[[]]},{"id":"2019b0d9.6fa09","type":"rbe","z":"4aee6267.e5bb9c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1250,"y":40,"wires":[["6b78c77b.bc7a98"]]},{"id":"6b78c77b.bc7a98","type":"switch","z":"4aee6267.e5bb9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":80,"wires":[["7beef612.84b408"],[]]},{"id":"7beef612.84b408","type":"link out","z":"4aee6267.e5bb9c","name":"RinseOnceInPort","links":["3f3c4622.6fb01a"],"x":1485,"y":40,"wires":[]},{"id":"3f3c4622.6fb01a","type":"link in","z":"7577d9ac.f07098","name":"RinseOnceInPort","links":["7beef612.84b408"],"x":75,"y":60,"wires":[["e83f797f.7a6cc8"]]},{"id":"93b46f1b.fdc47","type":"switch","z":"3f9f3370.4a839c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":340,"wires":[["8116855a.a5b2a8"],[]]},{"id":"322a3725.e6d058","type":"udp out","z":"7b3c5208.216cec","name":"","addr":"192.168.13.202","iface":"","port":"56802","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":800,"y":180,"wires":[]},{"id":"6f75dfaf.0dd02","type":"delay","z":"7b3c5208.216cec","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":260,"wires":[["adfd3de2.726d8","dda5708b.3b013"]]},{"id":"adfd3de2.726d8","type":"udp out","z":"7b3c5208.216cec","name":"","addr":"192.168.13.201","iface":"","port":"56802","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1000,"y":260,"wires":[]},{"id":"4e09e1fc.3f21f","type":"debug","z":"f2a1545.96bd1a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":920,"wires":[]},{"id":"4e783309.faa2dc","type":"debug","z":"c8a79714.25d648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":60,"wires":[]},{"id":"5a0f8e60.2ebe9","type":"debug","z":"7b3c5208.216cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":220,"wires":[]},{"id":"dda5708b.3b013","type":"debug","z":"7b3c5208.216cec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]},{"id":"f75155e2.8017a8","type":"inject","z":"3f9f3370.4a839c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":990,"y":20,"wires":[["a34f77bb.147278","f585559b.48d5f8"]]},{"id":"a34f77bb.147278","type":"change","z":"3f9f3370.4a839c","name":"station_list","rules":[{"t":"set","p":"payload","pt":"msg","to":"station_list","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":20,"wires":[["44830dda.072844"]]},{"id":"f585559b.48d5f8","type":"change","z":"3f9f3370.4a839c","name":"station_progress","rules":[{"t":"set","p":"payload","pt":"msg","to":"station_progress","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":80,"wires":[["e5e40866.1b3878"]]},{"id":"44830dda.072844","type":"debug","z":"3f9f3370.4a839c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":20,"wires":[]},{"id":"e5e40866.1b3878","type":"debug","z":"3f9f3370.4a839c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1380,"y":80,"wires":[]},{"id":"cf8c4cd6.c8d5f","type":"debug","z":"2b03b22f.4f348e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":340,"wires":[]},{"id":"50272b67.217b84","type":"function","z":"2b03b22f.4f348e","name":"","func":"var str=msg.payload\nvar res = str.split(/\\s+/);\nmsg.payload=res;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":460,"wires":[["1b632dcd.c694f2"]]},{"id":"1b632dcd.c694f2","type":"debug","z":"2b03b22f.4f348e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":460,"wires":[]},{"id":"25393837.9b67c8","type":"ui_worldmap","z":"9169162a.3666c8","group":"dfe5fa2b.211718","order":2,"width":"16","height":"16","name":"","lat":"65.36","lon":"15.44","zoom":"5","layer":"Esri Topography","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":420,"y":560,"wires":[]}]